<div class="container-fluid container-fixed-lg bg-white">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item active">Products</li>
  </ul>
  <div class="row">
    <div class="col-md-8">
      <h3 class="page-title">Products</h3>
    </div>
    <div class="col-md-4 text-right">
      <a routerLink="/products/create" class="btn btn-success"
        ><i class="fa fa-plus-circle fa-lg mr-2"></i> Add Product</a
      >
    </div>
  </div>
  <ng-container *ngIf="loadingPage">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </ng-container>
  <div class="table-responsive">
    <table class="row-border hover" datatable *ngIf="success">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>No of Licenses</th>
          <th>Subscription</th>
          <th>Status</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of list; let index = index">
          <td>
            <a routerLink="/products/{{ l.uuid }}/edit" class="text-success">{{
              l?.name
            }}</a>
          </td>
          <td style="width: 155px;">
            <ng-container *ngIf="l?.sale_price; else ronly">
              <span class="sale_price_text">€ {{ l?.sale_price }}</span>
              <span class="regular_price_text ml-3"
                ><s>€ {{ l?.regular_price }}</s></span
              >
            </ng-container>
            <ng-template #ronly> € {{ l?.regular_price }} </ng-template>
          </td>
          <td>{{ l?.no_license }}</td>
          <td>
            <ng-container *ngIf="l?.is_recurring">
              {{ l?.recurring_duration }} month(s)
            </ng-container>
          </td>
          <td style="width: 110px;">
            <a
              class="active btn btn-success"
              *ngIf="l?.status == 'active'; else others"
              (click)="updateStatus(l?.uuid, 'inactive')"
              >Active</a
            >
            <ng-template #others>
              <a
                class="warning btn btn-danger text-white"
                (click)="updateStatus(l?.uuid, 'active')"
                >In-Active</a
              >
            </ng-template>
          </td>
          <td>{{ l.createdAt | date: "dd-MM-yyyy" }}</td>
          <td>
            <a
              routerLink="{{ l?.uuid }}/edit"
              class="btn btn-primary btn-xs mr-1"
              ><i class="fa fa-edit" aria-hidden="true"></i
            ></a>
            <a
              (click)="delete(l?.uuid)"
              href="javascript:void(0);"
              class="btn btn-danger btn-xs"
              ><i class="fa fa-trash" aria-hidden="true"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<notifier-container></notifier-container>
