<div
  class="container-fluid"
  style="background: url(assets/images/login-bg.jpg);"
  [style.height]="success ? '100%' : 'auto'"
>
  <div class="row p-l-50 p-r-50 p-t-50">
    <div class="col-md-12 bg-white p-3 mb-5">
      <div class="row">
        <div class="col-md-2">
          <a class="text-success" routerLink="/auth/login"
            ><i class="fa fa-backward mr-2"></i> Back to Login</a
          >
        </div>
        <div class="col-md-8 log-wrap text-center">
          <img
            alt="logo"
            height="70"
            pgretina=""
            src="assets/images/logo.png"
            src1x="assets/images/logo.png"
            src2x="assets/images/logo.png"
            width="210"
          />
        </div>
        <div class="col-md-2"></div>
      </div>
      <ng-container *ngIf="!success">
        <h3 class="text-center">Register your owner account</h3>
        <form [formGroup]="RegForm" (submit)="submit()">
          <div class="form-row p-5">
            <div class="col-md-12">
              <div class="form-group">
                <label for="gender">Gender*</label>
                <br />
                <div class="form-check form-check-inline">
                  <input
                    formControlName="gender"
                    id="male"
                    name="gender"
                    type="radio"
                    value="male"
                    class="form-check-input"
                  /><label for="male" class="form-check-label">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    formControlName="gender"
                    id="female"
                    name="gender"
                    type="radio"
                    value="female"
                    class="form-check-input"
                  /><label for="female" class="form-check-label">Female</label>
                </div>
                <div *ngIf="submitted && f?.gender?.errors">
                  <div *ngIf="f?.gender?.errors?.required">
                    <p style="color: red;">Gender Required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstName">First Name*</label
                ><input
                  class="form-control"
                  formControlName="firstname"
                  type="text"
                />
                <div *ngIf="submitted && f?.firstname?.errors">
                  <div *ngIf="f?.firstname?.errors?.required">
                    <p style="color: red;">First Name is Required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastName">Last Name*</label
                ><input
                  class="form-control"
                  formControlName="lastname"
                  type="text"
                />
                <div *ngIf="submitted && f?.lastname?.errors">
                  <div *ngIf="f?.lastname?.errors?.required">
                    <p style="color: red;">Last Name is Required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="emailAddress">Email Address*</label
                ><input
                  class="form-control"
                  formControlName="email"
                  type="email"
                  (change)="checkEmail()"
                />
                <div *ngIf="submitted && f?.email?.errors">
                  <div *ngIf="f?.email?.errors?.required">
                    <p style="color: red;">E-Mail is Required</p>
                  </div>
                  <div *ngIf="f?.email?.errors?.email">
                    <p style="color: red;">E-Mail is Invalid</p>
                  </div>
                  <div *ngIf="f?.email?.errors?.pattern">
                    <p style="color: red;">E-Mail is Invalid</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="emailAddress">Confirm Email Address*</label
                ><input
                  class="form-control"
                  formControlName="confirm_email"
                  type="email"
                  (change)="checkEmail()"
                />
                <div *ngIf="submitted && f?.confirm_email?.errors">
                  <div *ngIf="f?.confirm_email?.errors?.required">
                    <p style="color: red;">Confirm E-Mail is Required</p>
                  </div>
                  <div *ngIf="f?.confirm_email?.errors?.email">
                    <p style="color: red;">Confirm E-Mail is Invalid</p>
                  </div>
                  <div *ngIf="f?.confirm_email?.errors?.pattern">
                    <p style="color: red;">Confirm E-Mail is Invalid</p>
                  </div>
                </div>
                <div *ngIf="RegForm?.errors?.confirmedValidator">
                  <p style="color: red;">
                    Password and Confirm Password must be match.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="passWord">Password*</label>
                <p style="font-size: 9px;">
                  password must contain at least one lowercase letter, one
                  capital letter, one special character and one number.
                </p>
                <input
                  class="form-control"
                  formControlName="password"
                  type="password"
                  (change)="checkMatch()"
                />
                <div *ngIf="submitted && f?.password?.errors">
                  <div *ngIf="f?.password?.errors?.required">
                    <p style="color: red;">Password is Required</p>
                  </div>
                  <div *ngIf="f?.password?.errors?.pattern">
                    <p style="color: red;">
                      Password must contain at least one lowercase letter, one
                      capital letter, one special character and one number.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="confrimPassword">Confirm Password*</label>
                <p style="font-size: 9px;">
                  password must contain at least one lowercase letter, one
                  capital letter, one special character and one number.
                </p>
                <input
                  class="form-control"
                  formControlName="confirm_password"
                  type="password"
                  (change)="checkMatch()"
                />
                <div *ngIf="submitted && f?.confirm_password?.errors">
                  <div *ngIf="f?.confirm_password?.errors?.required">
                    <p style="color: red;">Confirm Password is Required</p>
                  </div>
                  <div *ngIf="f?.confirm_password?.errors?.pattern">
                    <p style="color: red;">
                      Confirm Password must contain at least one lowercase
                      letter, one capital letter, one special character and one
                      number.
                    </p>
                  </div>
                </div>
                <div *ngIf="matchError">
                  <p style="color: red;">{{ matchError }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="organization">Organization*</label
                ><input
                  class="form-control"
                  formControlName="organization"
                  type="text"
                />
                <div *ngIf="submitted && f?.organization?.errors">
                  <div *ngIf="f?.organization?.errors?.required">
                    <p style="color: red;">Organization is Required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="street">Street*</label
                ><input
                  class="form-control"
                  formControlName="street"
                  type="text"
                />
                <div *ngIf="submitted && f?.street?.errors">
                  <div *ngIf="f?.street?.errors?.required">
                    <p style="color: red;">Street is Required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="homeNumber">Home Number</label
                ><input
                  class="form-control"
                  formControlName="home_num"
                  type="text"
                /><!---->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="numberAddition">Number Addition</label
                ><input
                  class="form-control"
                  formControlName="addition_num"
                  type="text"
                /><!---->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="zipCode">ZipCode*</label
                ><input
                  class="form-control"
                  formControlName="zip"
                  type="text"
                />
                <div *ngIf="submitted && f?.zip?.errors">
                  <div *ngIf="f?.zip?.errors?.required">
                    <p style="color: red;">Zip Code is Required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="city">City*</label
                ><select class="form-control" formControlName="city" id="city">
                  <option value="">Select</option>
                  <option [value]="item?.name" *ngFor="let item of cities">{{
                    item.name
                  }}</option>
                </select>
                <div *ngIf="submitted && f?.city?.errors">
                  <div *ngIf="f?.city?.errors?.required">
                    <p style="color: red;">City is Required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="city">Country</label
                ><input
                  class="form-control"
                  formControlName="country"
                  type="text"
                  readonly
                />
                <div *ngIf="submitted && f?.country?.errors">
                  <div *ngIf="f?.country?.errors?.required">
                    <p style="color: red;">Country is Required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phoneNumber">PhoneNumber*</label
                ><input
                  class="form-control"
                  formControlName="phone"
                  type="number"
                />
                <div *ngIf="submitted && f?.phone?.errors">
                  <div *ngIf="f?.phone?.errors?.required">
                    <p style="color: red;">Phone Number is Required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 rgstinptfile mt-3">
              <input
                formControlName="newsletter"
                type="checkbox"
              />&nbsp;Subscribe to Newsletter
            </div>
            <div class="col-md-12 mt-3">
              <button class="btn btn-success" [disabled]="loading">
                <i class="fa fa-check fa-lg mr-2" *ngIf="!loading"></i>
                <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading"></i>
                Register
              </button>
            </div>
          </div>
        </form>
      </ng-container>
      <div class="successmsg text-center" *ngIf="success">
        <h2 class="text-success">Verify your E-Mail!</h2>
        <i class="fa fa-check-circle fa-2x text-success"></i>
        <p>
          Thank you for registering your AED (Automatic External Defibrillator).
        </p>
        <p>Regards AedPlatform Team.</p>
        <p>Please check your email to start using our system.</p>
      </div>
    </div>
  </div>
</div>
