<div class="container-fluid container-fixed-lg bg-white">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/aeds">AED's</a></li>
    <li class="breadcrumb-item active">Map</li>
  </ul>
  <div class="row">
    <div class="col-md-8">
      <h3 class="page-title">AED Map</h3>
    </div>
  </div>
  <i class="fa fa-spinner fa-spin fa-2x" *ngIf="loading"></i>

  <div class="row" *ngIf="aeds?.length == 0 && !loading">
    <div class="col-md-12">
      <div class="alert alert-info">
        No AED's found
      </div>
    </div>
  </div>

  <agm-map [zoom]="7" [latitude]="lat" [longitude]="lng">
    <ng-container *ngFor="let aed of aeds; let index = index">
      <agm-marker
        [latitude]="aed?.lat"
        [longitude]="aed?.lng"
        [iconUrl]="
          aed?.status == 'active'
            ? markerURL
            : aed?.status == 'suspend'
            ? suspendMarkerURL
            : expiredMarkerURL
        "
      >
        <agm-info-window>
          <table>
            <tr>
              <th>Street Name:</th>
              <td>{{ aed?.street }}</td>
            </tr>
            <tr>
              <th>Number:</th>
              <td>{{ aed?.number }}</td>
            </tr>
            <tr>
              <th>Zipcode:</th>
              <td>{{ aed?.zipcode }}</td>
            </tr>
            <tr>
              <th>City:</th>
              <td>{{ aed?.city }}</td>
            </tr>
            <tr>
              <th>Country:</th>
              <td>{{ aed?.country }}</td>
            </tr>
            <tr *ngIf="aed?.visibility == 'public'">
              <th style="vertical-align: top;">Availability:</th>
              <td>
                <table>
                  <tr *ngIf="aed?.availability?.Monday?.name">
                    <th>Mon:</th>
                    <td>
                      {{ aed?.availability?.Monday?.dtime }} –
                      {{ aed?.availability?.Monday?.etime }}
                    </td>
                  </tr>
                  <tr *ngIf="aed?.availability?.Tuesday?.name">
                    <th>Tue:</th>
                    <td>
                      {{ aed?.availability?.Tuesday?.dtime }} –
                      {{ aed?.availability?.Tuesday?.etime }}
                    </td>
                  </tr>
                  <tr *ngIf="aed?.availability?.Wednesday?.name">
                    <th>Wed:</th>
                    <td>
                      {{ aed?.availability?.Wednesday?.dtime }} –
                      {{ aed?.availability?.Wednesday?.etime }}
                    </td>
                  </tr>
                  <tr *ngIf="aed?.availability?.Thursday?.name">
                    <th>Thu:</th>
                    <td>
                      {{ aed?.availability?.Thursday?.dtime }} –
                      {{ aed?.availability?.Thursday?.etime }}
                    </td>
                  </tr>
                  <tr *ngIf="aed?.availability?.Friday?.name">
                    <th>Fri:</th>
                    <td>
                      {{ aed?.availability?.Friday?.dtime }} –
                      {{ aed?.availability?.Friday?.etime }}
                    </td>
                  </tr>
                  <tr *ngIf="aed?.availability?.Saturday?.name">
                    <th>Sat:</th>
                    <td>
                      {{ aed?.availability?.Saturday?.dtime }} –
                      {{ aed?.availability?.Saturday?.etime }}
                    </td>
                  </tr>
                  <tr *ngIf="aed?.availability?.Sunday?.name">
                    <th>Sun:</th>
                    <td>
                      {{ aed?.availability?.Sunday?.dtime }} –
                      {{ aed?.availability?.Sunday?.etime }}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr *ngIf="aed?.locality">
              <th>Locality:</th>
              <td>{{ aed?.locality }}</td>
            </tr>
          </table>
        </agm-info-window>
      </agm-marker>
    </ng-container>
  </agm-map>
</div>
