<table width="750" border="0" align="center" cellpadding="10" cellspacing="0" bgcolor="#FFFFFF" style="border:1px solid #999">
    <tbody>
        <tr>
            <td style="font-family:Segoe UI,Arial,Tahoma;font-size:16px;color:#666666;line-height:19px;font-weight:normal">
                <table width="750" border="0" cellspacing="0" cellpadding="0" class="m_7435899943550936532m_3871815304257744632x_innerBodyTable">
                    <tbody>
                        <tr>
                            <td colspan="2" style="font-family:Segoe UI,Arial,Tahoma;font-size:16px;color:#666666;line-height:19px;font-weight:normal">
                                <table width="750" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td rowspan="1" style="padding-bottom:5px;vertical-align:bottom;font-family:Segoe UI,Arial,Tahoma;font-size:16px;color:#666666;line-height:19px;font-weight:normal">
                                                <table border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding:0;font-family:Segoe UI,Arial,Tahoma;font-size:16px;color:#666666;line-height:19px;font-weight:normal">
                                                                <span class="m_7435899943550936532m_3871815304257744632x_documentNameLabel" style="margin-top:0;margin-bottom:0;color:#333;font-size:30px;line-height:32px;font-family:Segoe UI,Arial;display:block;width:560px;word-wrap:break-word">You have received a Tax Invoice</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td rowspan="1" width="190" style="vertical-align:bottom;padding-bottom:6px;font-family:Segoe UI,Arial,Tahoma;font-size:16px;color:#666666;line-height:19px;font-weight:normal">
                                                <div class="m_7435899943550936532m_3871815304257744632x_companyLogoContainer" style="font-family:Segoe UI,Arial,Tahoma;font-size:16px;color:#666666;line-height:19px;font-weight:normal;display:table-cell;text-align:right;width:190px">
                                                    <img id="logo" width="190px" height="42px" alt="M J VERMAAK INCORPORATED" src="https://www.naartjielegal.com/assets/images/logo.png" class="CToWUd">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="border-top:2px dotted #ccc;font-family:Segoe UI,Arial,Tahoma;font-size:16px;color:#666666;line-height:19px;font-weight:normal">
                                                <span class="m_7435899943550936532m_3871815304257744632x_documentNameSubHeading" style="color:#999;font-size:24px;font-family:Segoe UI,Arial;display:block;padding-top:7px;line-height:24px">Naartjie Legal&nbsp;&nbsp; (MJ Vermaak Incorporated)</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Segoe UI,Arial,Tahoma;font-size:16px;color:#666666;line-height:19px;font-weight:normal">
                                &nbsp;
                            </td>
                            <td style="font-family:Segoe UI,Arial,Tahoma;font-size:16px;color:#666666;line-height:19px;font-weight:normal"></td>
                        </tr>
                        <tr>
                            <td style="font-family:Segoe UI,Arial,Tahoma;font-size:16px;color:#666666;line-height:19px;font-weight:normal">
                                &nbsp;
                            </td>
                            <td style="font-family:Segoe UI,Arial,Tahoma;font-size:16px;color:#666666;line-height:19px;font-weight:normal"></td>
                        </tr>
                        <tr>
                            <td valign="top" colspan="2" style="font-family:Segoe UI,Arial,Tahoma;font-size:16px;color:#666666;line-height:19px;font-weight:normal">
                                <p class="m_7435899943550936532m_3871815304257744632x_content" style="font-family:Segoe UI,Arial,Tahoma;font-size:13px;color:#666666;line-height:19px">
                                    <span style="font-size:18px!important;font-weight:bold;font-family:Segoe UI,Arial,Tahoma;line-height:19px">Pay your invoice online:</span><br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px">
                                    <br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px"> Dear **name**,<br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px">
                                    <br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px"> Please find attached Invoice for your review and prompt payment. <br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px">
                                    <br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px"> Please contact me should you have any queries.<br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px">
                                    <br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px"> Kind regards,<br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px"> Naartjie Legal Team<br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px">                                    Unit 3, The Oaks Office Park<br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px"> 368 Oak Avenue<br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px"> Ferndale
                                    <br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px"> Randburg
                                    <br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px"> Tel: 011 065 9000<br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px"> Email: support@naartjielegal.com<br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px">
                                    <br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px">

                                    <br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px"> CONFIDENTIALITY NOTICE: the documents accompanying this e-mail transmission contain information which may be legally privileged. The information is intended
                                    for the sole and exclusive use of the recipient outlined above. If you receive this e-mail in error, please notify us immediately by telephone and arrange for the return of the original documents to us. Any disclosure,
                                    copying, distribution or taking of any action in reliance of the contents of this e-mail information is strictly<br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px"> prohibited.
                                    <br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px">
                                    <br style="font-family:Segoe UI,Arial,Tahoma;line-height:19px">
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>