<div class="container-fluid container-fixed-lg bg-white">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/aeds">Products</a></li>
    <li class="breadcrumb-item active">{{ product?.name }}</li>
  </ul>
  <div class="row">
    <div class="col-md-8">
      <h3 class="page-title">Edit Product</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="form" (submit)="submit()">
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="name">Name *</label>
              <input type="text" class="form-control" formControlName="name" />
              <div *ngIf="submitted && f?.name?.errors">
                <div *ngIf="f?.name?.errors?.required">
                  <span style="color: red;">Name is Required.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <div class="fom-group">
              <label for="description">Description</label>
              <!-- <textarea
                formControlName="description"
                class="form-control"
                rows="6"
              ></textarea> -->
              <ckeditor formControlName="description"></ckeditor>
            </div>
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="col-md-4">
            <div class="form-group">
              <label for="regular_price">Regular Price *</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">€</span>
                </div>
                <input
                  type="number"
                  class="form-control"
                  formControlName="regular_price"
                />
              </div>
              <div *ngIf="submitted && f?.regular_price?.errors">
                <div *ngIf="f?.regular_price?.errors?.required">
                  <span style="color: red;">Regular Price is Required.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="sale_price">Sale Price</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">€</span>
                </div>
                <input
                  type="number"
                  class="form-control"
                  formControlName="sale_price"
                />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="no_license">No of License</label>
              <input
                type="number"
                class="form-control"
                formControlName="no_license"
                placeholder="1"
              />
            </div>
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col-md-12">
            <div class="form-group form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="is_recurring"
                formControlName="is_recurring"
                [value]="1"
                [checked]="form?.value?.is_recurring == 1"
              />
              <label class="form-check-label" for="is_recurring"
                >Recurring ?</label
              >
            </div>
          </div>
        </div>
        <div class="form-row mt-3" [hidden]="form?.value?.is_recurring == 0">
          <div class="col-md-6">
            <div class="form-group">
              <label for="recurring_duration">Duration</label>
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  placeholder="0"
                  aria-label="Duration"
                  aria-describedby="recurring_duration"
                  formControlName="recurring_duration"
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="recurring_duration"
                    >Months</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="recurring_duration">Cycles</label>
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  placeholder="0"
                  aria-label="Cycles"
                  aria-describedby="recurring_cycle"
                  formControlName="recurring_cycle"
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="recurring_cycle"
                    >Cycles</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row mt-3 mb-3">
          <div class="col-md-12">
            <button class="btn btn-success" [disabled]="loading">
              <i
                class="fa mr-2"
                [ngClass]="loading ? 'fa-spinner fa-spin' : 'fa-save'"
              ></i>
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<notifier-container></notifier-container>
