<div class="container-fluid container-fixed-lg bg-white">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ul>
  <h3 class="page-title">Dashboard</h3>
  <i class="fa fa-circle-o-notch fa-spin fa-2x" *ngIf="loading"></i>
  <div class="row" *ngIf="!loading">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 mb-2">
          <div
            class="card widget-8 no-border bg-warning no-margin widget-loader-bar"
          >
            <div class="card-header">
              <div class="card-title">
                <span class="font-montserrat fs-20 all-caps">
                  Total AED's
                </span>
              </div>
              <div class="card-body no-padding">
                <div class="full-height d-flex flex-column">
                  <h3 class="no-margin p-b-5">
                    {{ summary?.total_aeds || 0 }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <div
            class="card widget-8 no-border bg-info no-margin widget-loader-bar"
          >
            <div class="card-header">
              <div class="card-title">
                <span class="font-montserrat fs-20 all-caps text-white">
                  Total Orders
                </span>
              </div>
              <div class="card-body no-padding">
                <div class="full-height d-flex flex-column">
                  <h3 class="no-margin p-b-5 text-white">
                    {{ summary?.total_orders || 0 }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <div
            class="card widget-8 no-border bg-primary no-margin widget-loader-bar"
          >
            <div class="card-header">
              <div class="card-title">
                <span class="font-montserrat fs-20 all-caps text-white">
                  Total Licenses
                </span>
              </div>
              <div class="card-body no-padding">
                <div class="full-height d-flex flex-column">
                  <h3 class="no-margin p-b-5 text-white">
                    {{ summary?.total_license || 0 }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <div
            class="card widget-8 no-border bg-success no-margin widget-loader-bar"
          >
            <div class="card-header">
              <div class="card-title">
                <span class="font-montserrat fs-20 all-caps text-white">
                  Total {{ auth?.currentUserRole == 1 ? "Sales" : "Spend" }}
                </span>
              </div>
              <div class="card-body no-padding">
                <div class="full-height d-flex flex-column">
                  <h3 class="no-margin p-b-5 text-white">
                    ${{ summary?.total_sales || 0 }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!---->
        </div>
      </div>
    </div>
  </div>
</div>
