<div class="container-fluid container-fixed-lg bg-white">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/aeds">AED's</a></li>
    <li class="breadcrumb-item active">Details</li>
  </ul>
  <div class="row">
    <div class="col-md-8">
      <h3 class="page-title">AED Details</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-statistics mb-30">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="btn-group">
                <button
                  class="btn"
                  [class.btn-success]="data?.status == 'active'"
                  [class.btn-warning]="data?.status == 'suspended'"
                  [class.btn-danger]="data?.status == 'expired'"
                >
                  <i
                    class="fa"
                    [class.fa-check-circle-o]="data?.status == 'active'"
                  ></i>
                  <i
                    class="fa"
                    [class.fa-exclamation-circle]="data?.status == 'suspended'"
                  ></i>
                  <i
                    class="fa"
                    [class.fa-times-circle-o]="data?.status == 'expired'"
                  ></i>
                  <br />
                  {{ data?.status | uppercase }}
                </button>
                <button class="btn btn-success">
                  <i class="fa fa-lock"></i>
                  <br />
                  Closed
                </button>
                <button class="btn btn-success">
                  <i class="fa fa-heart"></i>
                  <br />
                  AED Present
                </button>
              </div>
              <div class="btn-group mt-1">
                <button class="btn btn-danger">
                  <i class="fa fa-power-off"></i>
                  <br />
                  Power failure
                </button>
                <button class="btn btn-danger">
                  <i class="fa fa-wifi"></i>
                  <br />
                  Connection Lost
                </button>
              </div>
            </div>
            <div class="col-md-4">
              <p>
                <strong>Cabinet Code: </strong>
                {{ data?.cabinet_code }}
              </p>
              <p>
                <strong>License Key: </strong>
                {{ data?.license?.license }}
              </p>
              <p>
                <strong>Expiry Date: </strong>
                {{ data?.license?.expiry_date | date: "MMM d, y HH:mm a" }}
              </p>
            </div>
            <div class="col-md-4 text-right">
              <a
                routerLink="/aeds/edit/{{ data?.uuid }}"
                class="btn btn-success"
                ><i class="fa fa-pencil mr-2"></i> Edit</a
              >
            </div>
          </div>
        </div>

        <div class="card-body detail_sec">
          <h5 class="card-title">AED</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>AED BRAND</strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.brand }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>AED MODEL</strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.model }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>SERIAL NUMBER</strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.serial }}</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>DATE OF PURCHASE</strong></p>
                </div>
                <div class="col-md-6">
                  <span
                    class="badge badge-success"
                    *ngIf="data?.purchase_date"
                    >{{ data?.purchase_date | date: "dd-MM-yyyy" }}</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>AED REGISTRATION</strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.reg }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>NUMBER ADDITION</strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.number_addition }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>LOCK CODE</strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.lock_code }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2 ad-ch">
                  <p><strong>Availablity</strong></p>
                </div>
                <div class="col-md-10">
                  <p *ngIf="data?.visibility == 'private'">
                    {{ data?.visibility | titlecase }}
                  </p>

                  <div *ngIf="data?.visibility != 'private'">
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          [checked]="showmon"
                          [disabled]="true"
                        />
                      </div>

                      <div class="weekday">Mon</div>
                      <div class="operationDayTimeContainer" *ngIf="showmon">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i
                          ></span>
                          <!-- <input type="text" class="mini-time form-control operationTimeFrom ui-timepicker-input" value="{{mondtime}}" readonly> -->
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ mondtime }}</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ monntime }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          [checked]="showtue"
                          [disabled]="true"
                        />
                      </div>

                      <div class="weekday">Tue</div>
                      <div class="operationDayTimeContainer" *ngIf="showtue">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i
                          ></span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ tuedtime }}</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ tuentime }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          [checked]="showwed"
                          [disabled]="true"
                        />
                      </div>

                      <div class="weekday">Wed</div>
                      <div class="operationDayTimeContainer" *ngIf="showwed">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i
                          ></span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ weddtime }}</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ wedntime }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          [checked]="showthu"
                          [disabled]="true"
                        />
                      </div>

                      <div class="weekday">Thu</div>
                      <div class="operationDayTimeContainer" *ngIf="showthu">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i
                          ></span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ thudtime }}</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ thuntime }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          [checked]="showfri"
                          [disabled]="true"
                        />
                      </div>

                      <div class="weekday">Fri</div>
                      <div class="operationDayTimeContainer" *ngIf="showfri">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ frintime }}</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ fridtime }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          [checked]="showsat"
                          [disabled]="true"
                        />
                      </div>

                      <div class="weekday">Sat</div>
                      <div class="operationDayTimeContainer" *ngIf="showsat">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ satdtime }}</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ satntime }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          [checked]="showsun"
                          [disabled]="true"
                        />
                      </div>

                      <div class="weekday">Sun</div>
                      <div class="operationDayTimeContainer" *ngIf="showsun">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ sundtime }}</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            readonly
                          >
                            <option>{{ sunntime }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body detail_sec">
          <h5 class="card-title">Location</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>STREET NAME</strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.street }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>NUMBER</strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.number }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>NUMBER Addition</strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.number_addition }}</p>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>Building ID</strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.building_id }}</p>
                </div>
              </div>
            </div> -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>ZIPCODE</strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.zipcode }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>CITY</strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.city }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>COUNTRY</strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.country }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3 ad-ch">
                  <p><strong>LOCALITY</strong></p>
                </div>
                <div class="col-md-9">
                  <p>{{ data?.locality }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body detail_sec">
          <h5 class="card-title">Pads</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>1ST SET PADS FOR</strong></p>
                </div>
                <div class="col-md-6 text-capitalize">
                  <p *ngIf="data?.first_pad == 'both'">Adult+Child</p>
                  <p *ngIf="data?.first_pad != 'both'">{{ data?.first_pad }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>1ST SET PADS EXPIRATION DATE</strong></p>
                </div>
                <div class="col-md-6">
                  <span
                    class="badge badge-success"
                    *ngIf="data?.first_pad_exp"
                    >{{ data?.first_pad_exp | date: "dd-MM-yyyy" }}</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>2ND SET PADS FOR</strong></p>
                </div>
                <div class="col-md-6 text-capitalize">
                  <p *ngIf="data?.second_pad == 'both'">Adult+Child</p>
                  <p *ngIf="data?.second_pad != 'both'">
                    {{ data?.second_pad }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>2ND SET PADS EXPIRATION DATE</strong></p>
                </div>
                <div class="col-md-6">
                  <span
                    class="badge badge-success"
                    *ngIf="data?.second_pad_exp"
                    >{{ data?.second_pad_exp | date: "dd-MM-yyyy" }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body detail_sec">
          <h5 class="card-title">BATTERY</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>BATTERY SERIAL NUMBER </strong></p>
                </div>
                <div class="col-md-6">
                  <p>{{ data?.battery_serial }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ad-ch">
                  <p><strong>BATTERY EXPIRATION DATE </strong></p>
                </div>
                <div class="col-md-6">
                  <span class="badge badge-success" *ngIf="data?.battry_exp"
                    >{{ data?.battry_exp | date: "dd-MM-yyyy" }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body detail_sec">
          <h5 class="card-title">RESPONDERS</h5>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table bordered">
                  <thead class="thead-dark">
                    <th>RESPONDER</th>
                    <th>NOTIFICATIONS</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let responder of data?.responders">
                      <td style="width: 250px;">
                        <b>{{ responder?.name }}</b> <br />
                        {{ responder?.email }} <br />
                        {{ responder?.phone }}
                      </td>
                      <td>
                        <div class="row">
                          <div class="col-md-12">
                            <strong class="mr-2">SMS: </strong>
                            <span class="mr-2">
                              <i
                                class="fa fa-{{
                                  responder?.sms_open_closed ? 'check' : 'times'
                                }}"
                                [ngClass]="{
                                  'text-success': responder?.sms_open_closed,
                                  'text-danger': !responder?.sms_open_closed
                                }"
                              ></i>
                              Open or Closed
                            </span>
                            <span class="mr-2">
                              <i
                                class="fa fa-{{
                                  responder?.sms_aed_present ? 'check' : 'times'
                                }}"
                                [ngClass]="{
                                  'text-success': responder?.sms_aed_present,
                                  'text-danger': !responder?.sms_aed_present
                                }"
                              ></i>
                              AED Present
                            </span>
                            <span class="mr-2">
                              <i
                                class="fa fa-{{
                                  responder?.sms_aed_status ? 'check' : 'times'
                                }}"
                                [ngClass]="{
                                  'text-success': responder?.sms_aed_status,
                                  'text-danger': !responder?.sms_aed_status
                                }"
                              ></i>
                              AED Status
                            </span>
                            <span class="mr-2">
                              <i
                                class="fa fa-{{
                                  responder?.sms_power ? 'check' : 'times'
                                }}"
                                [ngClass]="{
                                  'text-success': responder?.sms_power,
                                  'text-danger': !responder?.sms_power
                                }"
                              ></i>
                              Power
                            </span>
                            <span class="mr-2">
                              <i
                                class="fa fa-{{
                                  responder?.sms_connection ? 'check' : 'times'
                                }}"
                                [ngClass]="{
                                  'text-success': responder?.sms_connection,
                                  'text-danger': !responder?.sms_connection
                                }"
                              ></i>
                              Connection
                            </span>
                            <span class="mr-2">
                              <i
                                class="fa fa-{{
                                  responder?.sms_maintenance ? 'check' : 'times'
                                }}"
                                [ngClass]="{
                                  'text-success': responder?.sms_maintenance,
                                  'text-danger': !responder?.sms_maintenance
                                }"
                              ></i>
                              Maintenance
                            </span>
                          </div>
                          <hr />
                          <div class="col-md-12">
                            <strong class="mr-2">E-Mail: </strong>
                            <span class="mr-2">
                              <i
                                class="fa fa-{{
                                  responder?.email_open_closed
                                    ? 'check'
                                    : 'times'
                                }}"
                                [ngClass]="{
                                  'text-success': responder?.email_open_closed,
                                  'text-danger': !responder?.email_open_closed
                                }"
                              ></i>
                              Open or Closed
                            </span>
                            <span class="mr-2">
                              <i
                                class="fa fa-{{
                                  responder?.email_aed_present
                                    ? 'check'
                                    : 'times'
                                }}"
                                [ngClass]="{
                                  'text-success': responder?.email_aed_present,
                                  'text-danger': !responder?.email_aed_present
                                }"
                              ></i>
                              AED Present
                            </span>
                            <span class="mr-2">
                              <i
                                class="fa fa-{{
                                  responder?.email_aed_status
                                    ? 'check'
                                    : 'times'
                                }}"
                                [ngClass]="{
                                  'text-success': responder?.email_aed_status,
                                  'text-danger': !responder?.email_aed_status
                                }"
                              ></i>
                              AED Status
                            </span>
                            <span class="mr-2">
                              <i
                                class="fa fa-{{
                                  responder?.email_power ? 'check' : 'times'
                                }}"
                                [ngClass]="{
                                  'text-success': responder?.email_power,
                                  'text-danger': !responder?.email_power
                                }"
                              ></i>
                              Power
                            </span>
                            <span class="mr-2">
                              <i
                                class="fa fa-{{
                                  responder?.email_connection
                                    ? 'check'
                                    : 'times'
                                }}"
                                [ngClass]="{
                                  'text-success': responder?.email_connection,
                                  'text-danger': !responder?.email_connection
                                }"
                              ></i>
                              Connection
                            </span>
                            <span class="mr-2">
                              <i
                                class="fa fa-{{
                                  responder?.email_maintenance
                                    ? 'check'
                                    : 'times'
                                }}"
                                [ngClass]="{
                                  'text-success': responder?.email_maintenance,
                                  'text-danger': !responder?.email_maintenance
                                }"
                              ></i>
                              Maintenance
                            </span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="data?.responders?.length == 0">
                      <td colspan="20">No responders found</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
