<div class="modal-header">
  <h4 class="modal-title text-center">Edit Profile</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="modalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card-body ">
    <div class="add-aed-form ">
      <form [formGroup]="form" (submit)="submit()">
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="gender">Gender*</label><br />
              <div class="form-check form-check-inline">
                <input
                  checked=""
                  formControlName="gender"
                  id="male"
                  name="gender"
                  type="radio"
                  value="male"
                  class="form-check-input"
                />
                <label for="male" class="form-check-label">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  checked=""
                  formControlName="gender"
                  id="female"
                  name="gender"
                  type="radio"
                  value="female"
                  class="form-check-input"
                />
                <label for="female" class="form-check-label">Female</label>
              </div>
              <div *ngIf="submitted && f?.gender?.errors">
                <div *ngIf="f?.gender?.errors?.required">
                  <p style="color:red;">Gender Required</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">First Name*</label>
              <input
                type="text"
                class="form-control"
                formControlName="firstname"
              />
              <div *ngIf="submitted && f?.firstname?.errors">
                <div *ngIf="f?.firstname?.errors?.required">
                  <p style="color:red;">First Name is Required</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Last Name*</label>
              <input
                type="text"
                class="form-control"
                formControlName="lastname"
              />
              <div *ngIf="submitted && f?.lastname?.errors">
                <div *ngIf="f?.lastname?.errors?.required">
                  <p style="color:red;">Last Name is Required</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Email*</label>
              <input
                class="form-control"
                formControlName="email"
                type="email"
              />
              <div *ngIf="submitted && f?.email?.errors">
                <div *ngIf="f?.email?.errors?.required">
                  <p style="color:red;">E-Mail is Required</p>
                </div>
                <div *ngIf="f?.email?.errors?.email">
                  <p style="color:red;">E-Mail is Invalid</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="phoneNumber">Phone*</label>
              <input class="form-control" formControlName="phone" type="text" />
              <div *ngIf="submitted && f?.phone?.errors">
                <div *ngIf="f?.phone?.errors?.required">
                  <p style="color:red;">Phone Number is Required</p>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="col-md-12">
            <div class="form-group">
              <h6>ADDRESS</h6>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Organization</label>
              <input
                type="text"
                class="form-control"
                formControlName="organization"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Street</label>
              <input
                type="text"
                class="form-control"
                formControlName="street"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Home Number</label>
              <input
                type="text"
                class="form-control"
                formControlName="home_num"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Number Addition</label>
              <input
                type="text"
                class="form-control"
                formControlName="addition_num"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">zipCode</label>
              <input type="text" class="form-control" formControlName="zip" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">City</label>
              <select formControlName="city" class="form-control">
                <option value="">Select City</option>
                <option [value]="item?.name" *ngFor="let item of cities">{{
                  item.name
                }}</option>
              </select>
            </div>
          </div>
          <hr />
          <div class="col-md-12">
            <div class="form-group">
              <h6 class="text-uppercase">Change Password</h6>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">New Password</label>
              <input
                class="form-control"
                formControlName="password"
                type="password"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Confirm Password</label>
              <input
                class="form-control"
                formControlName="confirm_password"
                type="password"
              />
              <div *ngIf="form.hasError('notSame')">
                <p style="color:red;">Passwords not match</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row text-center mt-3">
          <div class="popup-submitbtn">
            <button class="btn btn-success" [disabled]="loading">
              <i
                class="fa mr-2"
                [ngClass]="loading ? 'fa-spinner fa-spin' : 'fa-save'"
              ></i>
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
