.dayContainer {
  float: left;
  line-height: 20px;
  margin-right: 8px;
  width: 65px;
  font-size: 11px;
  font-weight: bold;
}

.dayContainer input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 3px;
  /* background: #34495E; */
  border: 2px solid #7a1c44;
  background-color: #de5962;

  box-sizing: border-box;
  position: relative;
  box-sizing: content-box;
  width: 80px;
  height: 45px;
  transition: all 0.3s linear;
}
.dayContainer input[type="checkbox"]:checked {
  border: 2px solid #4e8059;
  background-color: #8ade8f;
  width: 80px;
  height: 45px;
  transition: all 0.3s linear;
}
.dayContainer input[type="checkbox"]:focus {
  outline: 0 none;
  box-shadow: none;
}
.operationTime {
  margin-top: 5px;
}
.input-group-addon i {
  position: relative;
  top: 1px;
  font-size: 12px;
}
.input-group-addon:first-child {
  border-right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.07);
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  padding: 5px !important;
}
.input-group-addon {
  background: #e7e7e7;
  border: 1px solid rgba(0, 0, 0, 0.07);
  color: rgba(87, 87, 87, 0.47);
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 3px;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s,
    color 0.2s linear 0s, box-shadow 0.2s linear 0s, background 0.2s linear 0s;
  height: 35px;
}
.operationDayTimeContainer input.mini-time {
  height: 35px;
}
.dayContainer {
  width: 78px !important;
}
select.mini-time {
  height: 35px !important;
  padding: 0 !important;
  font-size: 13px !important;
}
.daycheckbox span.checkmark {
  top: inherit;
  left: inherit;
  display: none;
}

.active pg-select-fx {
  border: 2px solid #5cb85c;
}
.suspended pg-select-fx {
  border: 2px solid #f0ad4e;
}
.expired pg-select-fx {
  border: 2px solid #d9534f;
}
