<div class="container-fluid container-fixed-lg bg-white pb-3">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item active">Plans</li>
  </ul>
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">Plans</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="loading">
      <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
    </div>
    <div class="col-md-12" *ngIf="!loading">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm" *ngFor="let item of products">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ item?.name }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              € {{ item?.sale_price || item?.regular_price }}
              <!-- <small class="text-muted">/ mo</small> -->
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{ item?.no_license }} license(s) included</li>
              <li>{{ item?.recurring_duration }} month(s) package</li>
            </ul>
            <hr />
            <div class="product_content" [innerHtml]="item?.description"></div>
            <hr />
            <a
              routerLink="{{ item?.uuid }}/checkout"
              class="btn btn-lg btn-block"
              [ngClass]="item?.id == 1 ? 'btn-primary' : 'btn-success'"
            >
              Buy Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
