<div class="login-wrapper">
  <div class="bg-pic">
    <div
      class="img-holder"
      style="
        background: url('assets/images/login-bg.jpg');
        height: 100vh;
        background-size: cover;
        background-position: center center;
      "
    ></div>
    <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
      <h2 class="semi-bold text-white">
        WE CARE ABOUT YOUR HEALTH
      </h2>
      <p class="small">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been industry's standard dummy text
      </p>
    </div>
  </div>
  <div class="login-container bg-white">
    <div
      class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40"
    >
      <img
        alt="logo"
        height="70"
        pgretina=""
        src="assets/images/logo.png"
        src1x="assets/images/logo.png"
        src2x="assets/images/logo.png"
        width="210"
      />
      <p class="p-t-35">Reset Password of your account</p>
      <form [formGroup]="form" (submit)="submit()">
        <div class="form-group form-group-default">
          <label>Email Address</label
          ><input
            class="form-control"
            id="email"
            formControlName="email"
            required=""
            type="email"
            autocomplete="off"
          />
          <div *ngIf="submitted && f?.email?.errors">
            <div *ngIf="f?.email?.errors?.required">
              <p style="color: red;">Email is Required</p>
            </div>
            <div *ngIf="f?.email?.errors?.email">
              <p style="color: red;">Email is invalid</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <button
              class="btn btn-success btn-cons m-t-10"
              type="submit"
              [disabled]="loading"
            >
              <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading"></i>
              <i class="fa fa-paper-plane-o mr-2" *ngIf="!loading"></i> Send
              Password reset link
            </button>
          </div>
        </div>
      </form>
      <p class="mt-5">
        <a class="text-success" routerLink="/auth/login">Back to Login</a>
      </p>
    </div>
  </div>
</div>
