<div id="pageHeader" style="padding: 0px 0px 0px 0px;">
  <table>
    <tbody>
      <tr class="top">
        <td colspan="2">
          <table>
            <tbody>
              <tr>
                <td class="title" style="width:350px;">
                
                  <img
                  style="margin-top: -30px;max-width:175px;width:auto;max-height:106px;"
                  src="**logohead**"
                />
                
                </td>
                <td style=" text-align: left;">
                  <p style="padding:0 0 0 15px;font-size:10px;margin: 0px;">
                    <b style="font-size: 10px;">**company**</b>
                  </p>
                  <p style="padding:3px 0 3px 15px;font-size:10px;margin: 0px;">
                    **firmaddress**
                  </p>

                  <p
                    style="padding:0px 0 0px 15px;font-size:10px;margin:0px 0;"
                  >
                    <img
                      src="**phonelogo**"
                      style="width:10px; margin-right: 10px; "
                    /><b style="font-weight:400;">**firmphone**</b>
                  </p>
                  <p
                    style="padding:0px 0 0px 15px;font-size:10px;margin:0px 0;"
                  >
                    <img
                      src="**emaillogo**"
                      style="width:10px; margin-right: 10px;"
                    /><b style="font-weight:400;">**firmemail**</b>
                  </p>
                  <!-- <p style="font-size:10px;margin:3px 0 5px 15px;">
                                        VAT: **vatreference**
                                    </p> -->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table cellpadding="0" cellspacing="0">
    <tbody>
      <tr class="information">
        <td colspan="2">
          <table>
            <tbody>
              <tr class="top">
                <td colspan="2">
                  <table>
                    <tbody>
                      <!-- <tr>
                                                <td class="title" style="width:350px;">
                                                    <img style="max-width:175px;" src="**firmlogo**" />
                                                </td>
                                                <td style=" text-align: left;">
                                                    <p style="padding:0 0 0 15px;font-size:10px;">
                                                        **firmaddress**
                                                    </p>

                                                    <p style="padding:0 0 0 15px;font-size:10px;margin:3px 0;">
                                                        <img src="http://naartjielegal.com/api/assets/images/phone.jpg" style="width:10px; margin-right: 10px; " /><b style="font-weight:400;">**firmphone**</b>
                                                    </p>
                                                    <p style="padding:0 0 0 15px;font-size:10px;margin:3px 0;">
                                                        <img src="http://naartjielegal.com/api/assets/images/mail.jpg" style="width:10px; margin-right: 10px;" /><b style="font-weight:400;">**firmemail**</b>
                                                    </p>
                                                </td>
                                            </tr> -->
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="width:420px;">
                  <!-- <p style="font-size:10px;margin:0 0 5px 0;">To</p> -->
                  <!--bindings={"ng-reflect-ng-if": "true"}-->
                  <p style="margin:0 0 5px 0;font-size:14px;">
                    <strong>**toname**</strong>
                  </p>
                  <p style="font-size:10px;margin:0 0 5px 0;">
                    **tocontactname**
                  </p>
                  <p style="font-size:10px;margin:0 0 5px 0;">**toemail**</p>
                  <p style="font-size:10px;margin:0 0 5px 0;">**toaddress1**</p>
                  <p style="font-size:10px;margin:0 0 5px 0;">**toaddress2**</p>
                  <p style="font-size:10px;margin:0 0 5px 0;">**tozip**</p>
                </td>
                <td style="margin-right: -40px;width:240px;text-align: left;">
                  <table>
                    <tr>
                      <td colspan="2">
                        <img
                          alt="taxinvoice"
                          src="**invoice_img**"
                          style="width: 100%;"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td
                        width="50%"
                        style="font-size:10px;margin:15px 0 5px 15px;"
                      >
                        **type** No.
                      </td>
                      <td width="48%">
                        :<strong style="font-size:12px;">#**type_two**</strong>
                      </td>
                    </tr>
                    <tr>
                      <td
                        width="50%"
                        style="font-size:10px;margin:0 0 5px 15px;"
                      >
                        **type_one** Date
                      </td>
                      <td
                        width="48%"
                        style="font-size:10px;margin:0 0 5px 15px;"
                      >
                        : **type_three**
                      </td>
                    </tr>
                    <tr>
                      <td
                        width="50%"
                        style="font-size:10px;margin:0 0 5px 15px;"
                      >
                        Case Number
                      </td>
                      <td
                        width="48%"
                        style="font-size:10px;margin:0 0 5px 15px;"
                      >
                        : **caseno**
                      </td>
                    </tr>
                    <tr>
                      <td
                        width="50%"
                        style="font-size:10px;margin:0 0 5px 15px;"
                      >
                        Client Reference
                      </td>
                      <td
                        width="48%"
                        style="font-size:10px;margin:0 0 5px 15px;"
                      >
                        : **clientref**
                      </td>
                    </tr>

                    <tr>
                      <td
                        width="50%"
                        style="position: relative;font-size:10px;margin:0 0 5px 15px;"
                      >
                        <span style="">Third Party</span>
                      </td>
                      <td
                        width="48%"
                        style="position: relative;font-size:10px;margin:0 0 5px 15px;"
                      >
                        <span style="">:</span
                        ><span style=""> **thirdparty**</span>
                      </td>
                    </tr>

                    <tr>
                      <td
                        width="50%"
                        style="font-size:10px;margin:0 0 5px 15px;"
                      >
                        VAT
                      </td>
                      <td
                        width="48%"
                        style="font-size:10px;margin:0 0 5px 15px;"
                      >
                        : **vat**
                      </td>
                    </tr>
                  </table>

                  <!--<img alt="taxinvoice" src="http://naartjielegal.com/api/assets/images/taxinvoice.jpg" style="width:240px;margin-right: -40px;" /><br />
                                    <p style="font-size:10px;margin:15px 0 5px 15px;">
                                        Invoice No.<br />
                                    </p>
                                    <p style="font-size:10px;margin:0 0 5px 15px;">
                                        <strong style="font-size:14px;">#**invoiceno**</strong>
                                    </p>
                                    <p style="font-size:10px;margin:0 0 5px 15px;">
                                        Invoice Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:**invoicedate**
                                    </p>
                                    <p style="font-size:10px;margin:0 0 5px 15px;">
                                        Case Number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: **caseno**
                                    </p>
                                    <p style="font-size:10px;margin:0 0 5px 15px;">
                                        Client Reference &nbsp;&nbsp;&nbsp;&nbsp;: **clientref**
                                    </p>
                                    <p style="font-size:10px;margin:0 0 5px 15px;">
                                        Third Party &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: **thirdparty**
                                    </p>-->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<img
  style="width:100%;display:none;"
  src="http://naartjielegal.com/api/assets/images/taxinvoice.jpg"
/>
<img style="width:100%;display:none;" src="**invoice_img**" />

