<div class="invoice-box" id="contentToConvert">
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tbody>
                            <tr>
                                <td style="width:420px;">
                                    <br /><br /><br /><br />
                                    <!-- <p style="font-size:10px;margin:0 0 5px 0;">To</p> -->
                                    <!--bindings={"ng-reflect-ng-if": "true"}-->
                                    <p style="margin:0 0 5px 0;font-size:14px;">
                                        <strong>**toname**</strong>
                                    </p>
                                    <p style="font-size:10px;margin:0 0 5px 0;">**tocontactname**</p>
                                    <p style="font-size:10px;margin:0 0 5px 0;">**toemail**</p>
                                    <p style="font-size:10px;margin:0 0 5px 0;">**toaddress1**</p>
                                    <p style="font-size:10px;margin:0 0 5px 0;">**toaddress2**</p>
                                    <p style="font-size:10px;margin:0 0 5px 0;">**tozip**</p>
                                </td>
                                <td style=" text-align: left;">
                                    <img alt="taxinvoice" src="http://naartjielegal.com/api/assets/images/taxinvoice.jpg" style="width:240px;margin-right: -40px;" /><br />
                                    <p style="font-size:10px;margin:15px 0 5px 15px;">
                                        Invoice No.<br />
                                    </p>
                                    <p style="font-size:10px;margin:0 0 5px 15px;">
                                        <strong style="font-size:14px;">#**invoiceno**</strong>
                                    </p>
                                    <p style="font-size:10px;margin:0 0 5px 15px;">
                                        Invoice Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:**invoicedate**
                                    </p>
                                    <p style="font-size:10px;margin:0 0 5px 15px;">
                                        Case Number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: **caseno**
                                    </p>
                                    <p style="font-size:10px;margin:0 0 5px 15px;">
                                        Client Reference &nbsp;&nbsp;&nbsp;&nbsp;: **clientref**
                                    </p>
                                    <p style="font-size:10px;margin:0 0 5px 15px;">
                                        Third Party &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: **thirdparty**
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="billitems">
        <tbody>
            <tr>
                <th style="font-size:10px;background: #e5e5e6;padding: 15px 0;width: 40px;text-align: center;">
                    No
                </th>
                <th style="font-size:10px;background: #474342;color: #ffffff;padding: 15px 0; text-align: center;width:100px;">
                    Date
                </th>
                <th style="font-size:10px;background: #ef9c00;color: #ffffff;padding: 15px 0px;width: 280px;">
                    Item Description
                </th>
                <th style="font-size:10px;background: #a9cf0d;color: #ffffff;padding: 15px 0; text-align: center; width: 80px;">
                    Items
                </th>
                <th style="font-size:10px;background: #e5e5e6;padding: 15px 0;width:60px;text-align: center;">
                    Qty
                </th>
                <th style="font-size:10px;background: #2db6be;color: #ffffff;padding: 15px 0; text-align: center;width:100px;">
                    Total
                </th>
            </tr>

            **items**
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
                <td style="width:380px;">
                    <br />
                    <strong style="color:#ef9c00;font-size:14px;margin-bottom: 50px;">Total Due:</strong
          >
          <p style="font-size:14px;"><b>**total**</b></p>
        </td>
        <td style="">
          <table>
            <tr>
              <td>
                <p style="text-align: right;font-size:9px;;padding:5px 10px;">
                  Sub-Total
                </p>
              </td>
              <td>
                <p style="text-align: right;font-size:9px;;padding:5px 10px;">
                  **subtotal**
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p style="text-align: right;font-size:9px;;padding:5px 10px;">
                  Tax: VAT (15%)
                </p>
              </td>
              <td>
                <p style="text-align: right;font-size:9px;;padding:5px 10px;">
                  **taxtotal**
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p
                  style="background: #e5e5e6;padding:10px;text-align: right;font-size:9px;;"
                >
                  Grand Total:
                </p>
              </td>
              <td>
                <p
                  style="background: #e5e5e6;padding:10px;text-align: right;font-size:9px;;"
                >
                  **total**
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>