<div class="invoice-box" id="contentToConvert">
    <table class="billitems" style="width: 99.5%;margin-top: 3px;">
        <tbody>
            <tr>
                <th style="font-size:10px;background: #e5e5e6;padding: 10px 0px 10px 5px;width: 40px;text-align: left;">
                    No
                </th>
                <!-- <th style="font-size:10px;background: #e5e5e6;color: #000;padding: 15px 0px 15px 5px; text-align: left;width:100px;">
                    Date
                </th> -->
                <th style="font-size:10px;background: #e5e5e6;color: #000;padding: 10px 0px 10px 5px;width: 280px; text-align: left;">
                    Item Description
                </th>
                <th style="font-size:10px;background: #e5e5e6;color: #000;padding: 10px 0px 10px 5px; text-align: left; width: 80px;">
                    Items
                </th>
                <th style="font-size:10px;background: #e5e5e6;color: #000;padding: 10px 0px 10px 5px; text-align: left; width: 80px;">
                    Price
                </th>
                <th style="font-size:10px;background: #e5e5e6;padding: 10px 0;width:60px;text-align: center;">
                    Qty
                </th>
                <th style="font-size:10px;background: #e5e5e6;padding: 10px 0;width:60px;text-align: center;">
                    Tax
                </th>
                <th style="font-size:10px;background: #e5e5e6;color: #000;padding: 10px 0; text-align: center;width:100px;">
                    Total
                </th>
            </tr>

            **items**
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
                <td style="width: 100%;">
                    <!-- <br />
                    <strong style="color:#ef9c00;font-size:14px;margin-bottom: 50px;">Total Due:</strong
          >
          <p style="font-size:14px;"><b>**total**</b></p>-->
                </td>
                <td style="float: right;">
                    <table>
                        <!-- <tr>
              <td>
                <p style="text-align: right;font-size:9px;;padding:5px 10px;">
                  Sub-Total
                </p>
              </td>
              <td>
                <p style="text-align: right;font-size:9px;;padding:5px 10px;">
                  **subtotal**
                </p>
              </td>
            </tr> -->
                        <!-- <tr>
              <td>
                <p style="text-align: right;font-size:9px;;padding:5px 10px;">
                  Tax: 
                </p>
              </td>
              <td>
                <p style="text-align: right;font-size:9px;;padding:5px 10px;">
                  **taxtotal**
                </p>
              </td>
            </tr> -->
                        <tr>
                            <td>
                                <p style="background: #e5e5e6;padding:10px;text-align: center;font-size:9px;width: 60px;">
                                    Grand Total:
                                </p>
                            </td>
                            <td>
                                <p style="background: #e5e5e6;padding:10px;text-align: right;font-size:9px;width: 60px;">
                                    **total**
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <img style="max-width:175px;" src="**firmdlogo**"/> -->
<img style="max-width:175px;display:none;" src="**logoed**" />
<img style="max-width:175px;display:none;" src="**logophone**" />
<img style="max-width:175px;display:none;" src="**logoemail**" />
<img style="max-width:175px;display:none;" src="**img_invoice**" />