<div class="invoice-box" id="contentToConvert">
    <!--<table cellpadding="0" cellspacing="0">
        <tbody>
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tbody>
                            <!-- <tr>
                                <td class="title" style="width:350px;">
                                    <img style="max-width:225px;" src="**firmlogo**" />
                                </td>
                                <td style=" text-align: left;">
                                    <p style="padding:0 0 0 15px;font-size:10px;">
                                        **firmaddress**
                                    </p>

                                    <p style="padding:0 0 0 15px;font-size:10px;margin:3px 0;">
                                        <img src="http://localhost:3000/api/assets/images/phone.jpg" style="width:10px; margin-right: 10px; " /><b style="font-weight:400;">**firmphone**</b>
                                    </p>
                                    <p style="padding:0 0 0 15px;font-size:10px;margin:3px 0;">
                                        <img src="http://localhost:3000/api/assets/images/mail.jpg" style="width:10px; margin-right: 10px;" /><b style="font-weight:400;">**firmemail**</b>
                                    </p>
                                </td>
                            </tr> -->
                       <!-- </tbody>
                    </table>
                </td>
            </tr>
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tbody>
                            <tr>
                                <td style="width:420px;">
                                    <br /><br /><br /><br />
                                    <!-- <p style="font-size:10px;margin:0 0 5px 0;">To</p> -->
                                    <!--bindings={"ng-reflect-ng-if": "true"}-->
                                 <!--   <p style="margin:0 0 5px 0;font-size:14px;">
                                        <strong>**toname**</strong>
                                    </p>
                                    <p style="font-size:10px;margin:0 0 5px 0;">**tocontactname**</p>
                                    <p style="font-size:10px;margin:0 0 5px 0;">**toemail**</p>
                                    <p style="font-size:10px;margin:0 0 5px 0;">**toaddress1**</p>
                                    <p style="font-size:10px;margin:0 0 5px 0;">**toaddress2**</p>
                                    <p style="font-size:10px;margin:0 0 5px 0;">**tozip**</p>
                                </td>


                                <td style="margin-right: -40px;width:240px;text-align: left;">
                                    <table>
                                        <tr>
                                            <td colspan="2"> <img alt="taxinvoice" src="http://naartjielegal.com/api/assets/images/invoicequt.jpg" style="width: 100%;" /></td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="font-size:10px;margin:15px 0 5px 15px;">Quote No</td>
                                            <td width="48%">:<strong style="font-size:12px;">#**quoteno**</strong></td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="font-size:10px;margin:0 0 5px 15px;">Quote Date</td>
                                            <td width="48%" style="font-size:10px;margin:0 0 5px 15px;">: **quotedate**</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="font-size:10px;margin:0 0 5px 15px;">Case Number</td>
                                            <td width="48%" style="font-size:10px;margin:0 0 5px 15px;">: **caseno**</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="font-size:10px;margin:0 0 5px 15px;">Client Reference</td>
                                            <td width="48%" style="font-size:10px;margin:0 0 5px 15px;">: **clientref**</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="position: relative;font-size:10px;margin:0 0 5px 15px;"><span style="position:absolute;">Third Party</span></td>
                                            <td width="48%" style="position: relative;font-size:10px;margin:0 0 5px 15px;"><span style="float: left;position:absolute;">:</span><span style="position: absolute;padding-left: 7px;">**thirdparty**</span></td>
                                        </tr>
                                        <!-- <tr>
                                            <td width="50%" style="font-size:10px;margin:0 0 5px 15px;">VAT</td>
                                            <td width="48%" style="font-size:10px;margin:0 0 5px 15px;">: **vatreference**</td>
                                        </tr> -->
                                    <!--</table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>-->
    <br />
    <table class="billitems" style="width: 99.5%;margin-top: 3px;">
        <tbody>
            <tr>
                <th style="font-size:10px;background: #e5e5e6;padding: 10px 0px 10px 5px;width: 40px;text-align: left;">
                    No
                </th>
                <!-- <th style="font-size:10px;background: #e5e5e6;color: #000;padding: 15px 0px 15px 5px; text-align: left;width:100px;">
          Date
      </th> -->
                <th style="font-size:10px;background: #e5e5e6;color: #000;padding: 10px 0px 10px 5px;width: 280px; text-align: left;">
                    Item Description
                </th>
                <th style="font-size:10px;background: #e5e5e6;color: #000;padding: 10px 0px 10px 5px; text-align: left; width: 80px;">
                    Items
                </th>
                <th style="font-size:10px;background: #e5e5e6;color: #000;padding: 10px 0px 10px 5px; text-align: left; width: 80px;">
                    Price
                </th>
                <th style="font-size:10px;background: #e5e5e6;padding: 10px 0;width:60px;text-align: center;">
                    Qty
                </th>
                <th style="font-size:10px;background: #e5e5e6;padding: 10px 0;width:60px;text-align: center;">
                    Tax
                </th>
                <th style="font-size:10px;background: #e5e5e6;color: #000;padding: 10px 0; text-align: center;width:100px;">
                    Total
                </th>
            </tr>

            **items**
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
                <td style="width: 100%;">
                    <!-- <br />
                    <strong style="color:#ef9c00;font-size:14px;margin-bottom: 50px;">Total Due:</strong
          >
          <p style="font-size:14px;"><b>**total**</b></p>-->
                </td>
                <td style="float: right;">
                    <table>
                        <!-- <tr>
              <td>
                <p style="text-align: right;font-size: 10px;padding:5px 10px;">
                  Sub-Total
                </p>
              </td>
              <td>
                <p style="text-align: right;font-size: 10px;padding:5px 10px;">
                  **subtotal**
                </p>
              </td>
            </tr> -->
                        <!-- <tr>
              <td>
                <p style="text-align: right;font-size: 10px;padding:5px 10px;">
                  Tax:Vat(15%)
                </p>
              </td>
              <td>
                <p style="text-align: right;font-size: 10px;padding:5px 10px;">
                  **taxtotal**
                </p>
              </td>
            </tr> -->
                        <tr>
                            <td>
                                <p style="background: #e5e5e6;padding:10px;text-align: center;font-size:9px;width: 60px;">
                                    Grand Total:
                                </p>
                            </td>
                            <td>
                                <p style="background: #e5e5e6;padding:10px;text-align: right;font-size:9px;width: 60px;">
                                    **total**
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<img style="max-width:175px;display:none;" src="**logoed**" />
<img style="max-width:175px;display:none;" src="**logophone**" />
<img style="max-width:175px;display:none;" src="**logoemail**" />
<img style="max-width:175px;display:none;" src="**img_invoicequt**" />