/* You can add global styles to this file, and also import other style files */
.login-wrapper .bg-pic {
  width: 75% !important;
}
.btn-success {
  background-color: #008b56 !important;
  border-color: #008b56 !important;
  color: #fff !important;
}
.popup-btn-wrap {
  margin: 15% 0;
}
.register-container {
  width: 750px;
  display: block;
  position: relative;
  float: right;
}

.form-control:focus {
  background-color: #fff !important;
  border: 1px solid #17977c !important;
  box-shadow: none !important;
  outline: 0 !important;
}
.form-group .form-control {
  border: 1px solid #ccc;
}
.select2-container {
  width: 100% !important;
}
.header .dropdown-menu.dropdown-menu-right.profile-dropdown {
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.15);
}
.form-control:disabled,
.form-control[readonly] {
  background-color: transparent !important;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  color: inherit !important;
}
.login-container.bg-white .form-group.form-group-default {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}
.login-container .form-group-default {
  padding-bottom: 7px;
}
.form-group.form-group-default input {
  font-size: 12px;
  padding: 10px 10px;
  margin-top: 2px;
}
.btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #000 !important;
  border-color: #000 !important;
}

.product_content ul {
  padding-left: 0;
}
.product_content li {
  list-style: none;
}
