<div class="container-fluid container-fixed-lg bg-white pb-3">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item active">Cart</li>
  </ul>
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">Cart</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="#" class="btn btn-danger btn-xs"
                ><i class="fa fa-times"></i
              ></a>
            </td>
            <td><b>Basic</b></td>
            <td>$10.00</td>
            <td style="width: 100px;">
              <input type="number" class="form-control" value="1" min="1" />
            </td>
            <td class="text-warning">$10.00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3>Cart Totals</h3>
          <div class="row">
            <div class="col-md-6">
              <b><h5>Subtotal:</h5></b>
            </div>
            <div class="col-md-6"><h5>$10.00</h5></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <b><h5>Licenses:</h5></b>
            </div>
            <div class="col-md-6"><h5>1</h5></div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <div class="form-group">
                <a routerLink="checkout" class="btn btn-success"
                  >Proceed to checkout</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
