<div
  class="container-fluid"
  style="
    background: url(assets/images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  "
  [style.height]="'100%'"
>
  <div class="row p-l-50 p-r-50 p-t-50">
    <div class="col-md-12 bg-white p-3 mb-5">
      <div class="row">
        <div class="col-md-2">
          <a class="text-success" routerLink="/auth/login"
            ><i class="fa fa-backward mr-2"></i> Back to Login</a
          >
        </div>
        <div class="col-md-8 log-wrap text-center">
          <img
            alt="logo"
            height="70"
            pgretina=""
            src="assets/images/logo.png"
            src1x="assets/images/logo.png"
            src2x="assets/images/logo.png"
            width="210"
          />
        </div>
        <div class="col-md-2"></div>
      </div>
      <h3 class="text-center">Register your owner account</h3>
      <hr />
      <ng-container *ngIf="!checkout">
        <h3 class="text-success">
          Step 1: Please select the subscription package
        </h3>
        <div class="row">
          <div class="col-md-12" *ngIf="loadingProducts">
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
          </div>
          <div class="col-md-12" *ngIf="!loadingProducts">
            <div class="card-deck mb-3 text-center">
              <div class="card mb-4 shadow-sm" *ngFor="let item of products">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">{{ item?.name }}</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">
                    € {{ item?.sale_price || item?.regular_price }}
                    <!-- <small class="text-muted">/ mo</small> -->
                  </h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ item?.no_license }} license(s) included</li>
                    <li>{{ item?.recurring_duration }} month(s) package</li>
                  </ul>
                  <hr />
                  <div
                    class="product_content"
                    [innerHtml]="item?.description"
                  ></div>
                  <hr />
                  <a
                    routerLink="{{ item?.uuid }}/checkout"
                    class="btn btn-lg btn-block"
                    [ngClass]="item?.id == 1 ? 'btn-primary' : 'btn-success'"
                  >
                    Buy Now
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <form [formGroup]="form" *ngIf="checkout" (submit)="submit()">
        <a class="text-primary" routerLink="/auth/register"
          ><i class="fa fa-backward mr-2"></i> Back to step 1</a
        >
        <h3 class="text-success">
          Step 2: Please fill the billing Information & select license quantity
        </h3>
        <div class="row">
          <div class="col-md-8" *ngIf="!loading">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="gender">Gender*</label>
                    <br />
                    <div class="form-check form-check-inline">
                      <input
                        formControlName="gender"
                        id="male"
                        name="gender"
                        type="radio"
                        value="male"
                        class="form-check-input"
                      /><label for="male" class="form-check-label">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        formControlName="gender"
                        id="female"
                        name="gender"
                        type="radio"
                        value="female"
                        class="form-check-input"
                      /><label for="female" class="form-check-label"
                        >Female</label
                      >
                    </div>
                    <div *ngIf="submitted && f?.gender?.errors">
                      <div *ngIf="f?.gender?.errors?.required">
                        <p style="color: red;">Gender Required</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">First Name*</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="billing_firstname"
                  />
                </div>
                <div *ngIf="submitted && f?.billing_firstname?.errors">
                  <div *ngIf="f?.billing_firstname?.errors?.required">
                    <p style="color: red;">First Name is Required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Last Name*</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="billing_lastname"
                  />
                </div>
                <div *ngIf="submitted && f?.billing_lastname?.errors">
                  <div *ngIf="f?.billing_lastname?.errors?.required">
                    <p style="color: red;">Last Name is Required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Email*</label>
                  <input
                    class="form-control"
                    formControlName="billing_email"
                    type="email"
                  />
                </div>
                <div *ngIf="submitted && f?.billing_email?.errors">
                  <div *ngIf="f?.billing_email?.errors?.required">
                    <p style="color: red;">Email is Required</p>
                  </div>
                  <div *ngIf="f?.billing_email?.errors?.email">
                    <p style="color: red;">Email is Invalid</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phoneNumber">Phone*</label>
                  <input
                    class="form-control"
                    formControlName="billing_phone"
                    type="text"
                  />
                </div>
                <div *ngIf="submitted && f?.billing_phone?.errors">
                  <div *ngIf="f?.billing_phone?.errors?.required">
                    <p style="color: red;">Phone is Required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Password*</label>
                  <p style="font-size: 9px;">
                    password must contain at least one lowercase letter, one
                    capital letter, one special character and one number.
                  </p>
                  <input
                    class="form-control"
                    formControlName="password"
                    type="password"
                  />
                </div>
                <div *ngIf="submitted && f?.password?.errors">
                  <div *ngIf="f?.password?.errors?.required">
                    <p style="color: red;">Password is Required</p>
                  </div>
                  <div *ngIf="f?.password?.errors?.pattern">
                    <p style="color: red;">
                      Password must contain at least one lowercase letter, one
                      capital letter, one special character and one number.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Confirm Password*</label>
                  <p style="font-size: 9px;">
                    password must contain at least one lowercase letter, one
                    capital letter, one special character and one number.
                  </p>
                  <input
                    class="form-control"
                    formControlName="confirm_password"
                    type="password"
                  />
                </div>
                <div *ngIf="submitted && f?.confirm_password?.errors">
                  <div *ngIf="f?.confirm_password?.errors?.required">
                    <p style="color: red;">Confirm Password is Required</p>
                  </div>
                  <div *ngIf="f?.confirm_password?.errors?.pattern">
                    <p style="color: red;">
                      Confirm Password must contain at least one lowercase
                      letter, one capital letter, one special character and one
                      number.
                    </p>
                  </div>
                </div>
                <div *ngIf="form?.errors?.confirmedValidator">
                  <p style="color: red;">
                    Password and Confirm Password must be match.
                  </p>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <h6>ADDRESS</h6>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Organization</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="billing_organization"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Street*</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="billing_street"
                  />
                </div>
                <div *ngIf="submitted && f?.billing_street?.errors">
                  <div *ngIf="f?.billing_street?.errors?.required">
                    <p style="color: red;">Street is Required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Home Number</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="billing_home_num"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Number Addition</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="billing_addition_num"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">zipCode*</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="billing_zip"
                  />
                </div>
                <div *ngIf="submitted && f?.billing_zip?.errors">
                  <div *ngIf="f?.billing_zip?.errors?.required">
                    <p style="color: red;">Zip is Required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">City*</label>
                  <select formControlName="billing_city" class="form-control">
                    <option value="">Select City</option>
                    <option
                      value="{{ city?.name }}"
                      *ngFor="let city of cities"
                      >{{ city?.name }}</option
                    >
                  </select>
                </div>
                <div *ngIf="submitted && f?.billing_city?.errors">
                  <div *ngIf="f?.billing_city?.errors?.required">
                    <p style="color: red;">City is Required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Country</label>
                  <input
                    type="text"
                    class="form-control"
                    value="Netherlands"
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" *ngIf="!loading">
            <div class="card-deck mb-3 text-center">
              <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">{{ product?.name }}</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">
                    € {{ product?.sale_price || product?.regular_price }}
                    <!-- <small class="text-muted">/ mo</small> -->
                  </h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ product?.no_license }} license(s) included</li>
                    <li>{{ product?.recurring_duration }} month(s) package</li>
                  </ul>
                  <div class="form-group">
                    <label for="quantity" class="control-label">Quantity</label>
                    <select
                      class="form-control text-center"
                      formControlName="no_license"
                      (change)="updateTotal($event)"
                    >
                      <option value="{{ item }}" *ngFor="let item of licenses"
                        >{{ item }} License</option
                      >
                    </select>
                  </div>
                  <h3 class="mt-3">
                    Grand Total:
                    <span class="text-success">€ {{ total }}</span>
                  </h3>
                  <button
                    class="mt-3 btn btn-success btn-block"
                    [disabled]="formLoading"
                  >
                    <i
                      class="fa fa-circle-o-notch fa-spin mr-2"
                      *ngIf="formLoading"
                    ></i>
                    Proceed to Pay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
