<div class="container-fluid container-fixed-lg bg-white">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/orders">Orders</a></li>
    <li class="breadcrumb-item active">Order #{{ order?.id }}</li>
  </ul>
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">
        Edit Order
        <a routerLink="/orders" class="btn btn-primary btn-xs"
          ><i class="fa fa-long-arrow-left mr-2"></i> Back</a
        >
      </h3>
    </div>
  </div>
  <ng-container *ngIf="loadingPage; else pageWrap">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </ng-container>
  <ng-template #pageWrap>
    <form #f="ngForm" (submit)="update()">
      <div class="row">
        <div [ngClass]="currentUserRole == 1 ? 'col-md-8' : 'col-md-12'">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="mt-0 mb-0">
                    Orders - #{{ order?.id }} details
                    <span
                      class="btn btn-xs ml-2"
                      [class.btn-success]="order?.status == 'paid'"
                      [class.btn-primary]="
                        order?.status != 'paid' && order?.status != 'canceled'
                      "
                      [class.btn-danger]="order?.status == 'canceled'"
                      >{{ order?.status | titlecase }}</span
                    >
                  </h3>
                  <p>Payment via Mollie</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <strong>General</strong>
                  <p class="mt-2">
                    <b>Date: </b> {{ order?.createdAt | date: "dd-MM-yyyy" }}
                    <br />
                    <b>Customer: </b> {{ order?.user?.firstname }}
                    {{ order?.user?.lastname }} <br />
                  </p>
                  <strong>Email Address</strong>
                  <p class="mt-2">
                    {{ order?.billing_email }}
                  </p>
                  <strong>Phone</strong>
                  <p class="mt-2">
                    {{ order?.billing_phone }}
                  </p>
                </div>
                <div class="col-md-6">
                  <strong>Billing Details</strong>
                  <p class="mt-2">
                    {{ order?.billing_firstname }} {{ order?.billing_lastname }}
                    <br />
                    <ng-container *ngIf="order?.billing_organization">
                      {{ order?.billing_organization }} <br />
                    </ng-container>
                    {{ order?.billing_street }} <br />
                    <ng-container *ngIf="order?.billing_home_num">
                      {{ order?.billing_home_num }} <br />
                    </ng-container>
                    <ng-container *ngIf="order?.billing_addition_num">
                      {{ order?.billing_addition_num }} <br />
                    </ng-container>
                    {{ order?.billing_zip }} <br />
                    {{ order?.billing_city }} <br />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Item</th>
                          <th>No of License</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ order?.product?.name }}</td>
                          <td>{{ order?.no_license }}</td>
                          <td>€ {{ order?.total }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="currentUserRole == 1; else textStatus">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="status" class="control-label">Status</label>
                    <select
                      name="status"
                      id="status"
                      class="form-control"
                      [(ngModel)]="order.status"
                      #status="ngModel"
                    >
                      <option value="pending">Pending</option>
                      <option value="paid">Paid</option>
                      <option value="failed">Failed</option>
                      <option value="canceled">Canceled</option>
                      <option value="expired">Expired</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <button
                      class="mt-3 btn btn-success btn-block"
                      [disabled]="formLoading"
                    >
                      <i
                        class="fa fa-circle-o-notch fa-spin mr-2"
                        *ngIf="formLoading"
                      ></i>
                      Update
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</div>

<notifier-container></notifier-container>
