body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000 !important;
}
body.theme-dark,
.theme-dark .h1,
.theme-dark .h2,
.theme-dark .h3,
.theme-dark .h4,
.theme-dark .h5,
.theme-dark .h6,
.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6 {
  color: #fff !important;
}
.paper-nav-toggle i::after,
.paper-nav-toggle i::before,
.paper-nav-toggle i {
  background: #fff !important;
}
.mandatory {
  color: red;
  font-size: 14px;
}
@media (max-width: 768px) {
  .navbar {
    background-color: #2196f3 !important;
  }
}
.form-control {
  border: 1px solid #0000006b !important;
  border-radius: 0px !important;
}
.theme-dark .form-control {
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
}
form label {
  font-size: 13px !important;
}
.alert ul {
  margin-bottom: 0 !important;
  font-size: 15px !important;
}
.alert.alert-danger {
  background-color: #fbdde0;
}
.jsgrid-cell {
  word-wrap: break-word;
}
.jsgrid-header-row > .jsgrid-header-cell {
  text-transform: capitalize;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  border: 2px solid #03a9f4 !important;
}
.select2-selection--single,
.select2-selection--multiple {
  border: 1px solid #0000006b !important;
}

table.jsgrid-table tr td.jsgrid-cell:first-child {
  text-align: center;
}

.modal-scrollable .modal-body {
  height: 460px !important;
  overflow-y: auto;
}

.paper-nav-toggle {
  z-index: 1001;
}

.colorbox b {
  border: 1px solid rgba(0, 0, 0, 0);
  display: block;
  float: left;
  height: 8px;
  margin-left: 2px;
  overflow: hidden;
  width: 8px;
}

span.colorbox {
  padding-left: 15px;
}

span.colorbox b {
  position: relative;
  left: 7px;
  top: 6px;
}

div.colorbox b {
  position: relative;
  left: -6px;
}

#searchGrid .previous_events_wrap {
  overflow-y: scroll;
  max-height: 100px;
}

#searchGrid .email_templates_wrap {
  overflow-y: scroll;
  max-height: 100px;
}

.sweet-alert h1,
.sweet-alert h2,
.sweet-alert h3,
.sweet-alert h4,
.sweet-alert h5,
.sweet-alert h6 {
  line-height: 2em;
}

.nav-material > li > a {
  color: #000 !important;
}

ul#filters_ul li {
  font-size: 15px;
}
.jsgrid-grid-body {
  overflow-y: unset !important;
}
/* .scroll_to_b {
  position: absolute;
  right: 0;
} */
/* .scroll_to_top {
  position: absolute;
  right: 0;
  top: 99%;
  bottom: 0;
  height: 10px;
  margin-right: 19px;
  margin-bottom: 10px;
} */
.scroll_to_b a,
.scroll_to_top a {
  background: #04a9f4;
  color: #fff;
  height: 40px;
  display: inline-block;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  margin: 10px;
}
.scroll_left a,.scroll_right a {
    background: #04a9f4;
    color: #fff;
    height: 40px;
    display: block;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin: 10px;
    position: absolute;
    right: -15px;
    top: 25px;
}

.scroll_right a {
    left: 45px !important;
    top: 25px !important;
}


/* .scroll_to_top a#scrollToTop {
  background: #04a9f4;
  color: #fff;
  padding: 10px 13px;
  border-radius: 5px;
} */
/* .scroll_to_top {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999999999999;
} */

/* .scroll_to_top {
  width: 300px;
  max-width: 100%;
  right: -300px;
  position: fixed;
  top: 15%;
  background: #fff;
  z-index: 99;
  border-width: 1px 0 1px 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
} */

.scrollto {
    position: fixed;
    top: 80%;
    z-index: 99;
    right: 133px;
}
.scroll_to_top {
  position: absolute;
  top: 0;
}
.scroll_to_b {
  position: absolute;
  top: 45px;
}
.maximize {
  position: absolute;
  right: 55px;
}
.maximize i.fa {
  font-size: 16px;
}
.maximize button {
  background: transparent;
  border: none;
  color: #808080;
  outline: none;
  cursor: pointer;
}
div#send-sms-modal,
div#send-sms-modal {
  padding-right: 0 !important;
}
.maxi-mize {
  max-width: 90%;
  margin: 15px auto;
}
select.form-control.job_event {
  border-bottom: 0 !important;
}
.col-md-12.flag-summary {
  padding: 15px 20px;
}
.select2-container .select2-selection--single .select2-selection__rendered,
.select2-results__option {
  color: #000;
  font-size: 15px;
}
.wrapper1,
.wrapper2 {
  width: 100%;
  border: none 0px RED;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 15px;
}
.wrapper1 {
  height: 20px;
}
.wrapper2 {
  /* height: 200px; */
}
.div1 {
  height: 20px;
  width: 2500px;
}
.div2 {
  width: 2500px;
  /* height: 200px; */
  /* background-color: #88ff88; */
  overflow: auto;
}

.dataTables_length,
.dataTables_filter {
  width: 50%;
  float: left;
}

.btn {
  border-radius: 0 !important;
}

.bg-primary {
  background-color: #03a9f4 !important;
}
