
body{margin: 0;padding: 0;}
.logo img {
    max-width: 100%;
    height: auto;
}
.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
#header.header-v1 {
    height: 90px;
    background: #ffffff;
}
#header {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    z-index: 8000;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.16);
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}
.container .sixteen.columns {
    width: 1160px;
}
.container .column, .container .columns {
    float: left;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}
.header-v1 .logo {
    width: 240px;
    margin-top: 13px;
    float: left;
    margin-bottom: 0;
}

.logo {
    font-size: 24px;
    line-height: 20px;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header-v1 #navigation {
    float: right;
}
.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clear{clear: both; }
.header-icons {
    float: right;
}
.header-v1 #navigation > ul {
    float: right;
    margin: 0 5px 0 0;
}
#navigation ul {
    margin: 0;
    list-style: none;
}
.header-v1 #navigation > ul > li {
    text-transform: Uppercase;
}
.header-v1 #navigation > ul > li {
    height: 90px;
    padding-top: 35px;
}
.header-v1 #navigation > ul > li {
    height: 90px;
    padding-top: 35px;
}
#navigation ul li {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.header-v1 #navigation > ul > li > a {
    padding-left: 15px;
    padding-right: 15px;
}
#navigation > ul > li > a {
    font: 700 13px Montserrat, Arial, Helvetica, sans-serif;
    color: #777777;
}
#navigation > ul > li > a {
    font-weight: 700;
}
#navigation ul li a {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 13px;
    line-height: 1.3;
    color: #555555;
    text-align: center;
    -webkit-transition: color 0.1s;
    -moz-transition: color 0.1s;
    -ms-transition: color 0.1s;
    -o-transition: color 0.1s;
    transition: color 0.1s;
}
.header-v1 #navigation .sub-menu {
    top: 90px;
}
.header-v1 #navigation .sub-menu {
    top: 90px;
}
#navigation .sub-menu {
    background: #262626;
}
#navigation .sub-menu {
    width: 200px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0px;
    background: #666666;
    border: none;
    z-index: 200;
    border-radius: 0px 0px 2px 2px;
    display: none;
}
ul li a {
    text-decoration: none;
}
#navigation > ul > li:hover > a, #navigation > ul > li > a:hover {
    color: #00b2ff;
}
.header-v1 #navigation > ul > li > a {
    padding-left: 15px;
    padding-right: 15px;
}
.header-menu-btn a span {
    height: 45px;
    background: #00b2ff;
    border-radius: 5px;
    display: block;
    padding: 15px 15px 0 15px;
    position: relative;
    top: -15px;
    color: #fff;
}
#navigation .sub-menu li {
    float: none;
    border: none;
    margin: 0px 10px;
    padding: 0;
    height: auto;
    position: relative;
}
#navigation .sub-menu li a {
    font: 13px Open Sans, Arial, Helvetica, sans-serif;
    color: #bbbbbb;
}
#navigation .sub-menu li a {
    display: block;
    text-align: left;
    color: #bbbbbb;
    text-transform: none;
    padding: 10px 6px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #757575;
}
#navigation .sub-menu {
    width: 200px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0px;
    background: #262626;
    border: none;
    z-index: 200;
    border-radius: 0px 0px 2px 2px;
    display: none;
}
.header-v1 #navigation .sub-menu {
    top: 90px;
}
.sub-menu-hover:hover .sub-menu{
    display: block !important;
}
#navigation .sub-menu li a {
    display: block;
    text-align: left;
    color: #bbbbbb;
    text-transform: none;
    padding: 10px 6px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #757575;
}
#navigation .sub-menu li a:hover {color: #fff;}
li.header-menu-btn a {padding-left: 0px !important;}
ul#nav li a {color: #777777;}
ul#nav li {cursor: pointer;}
#footer {background-color: #262626; padding: 30px 0 10px 0;}
.col-4 {
    float: left;
    display: inline;
    width: 100%;
}
.footer-widget-1 h3,.footer-widget-2 h3,.footer-widget-3 h3 {
    font: 14px Montserrat, Arial, Helvetica, sans-serif;
    color: #ffffff !important;
    text-transform: uppercase;
    margin-bottom: 20px;
}
footer#footer ul li {list-style: none;line-height: 26px;}
footer#footer ul  {margin: 0;padding: 0;margin-bottom: 40px;}
#footer, #footer a{font-family: 'Open Sans', sans-serif; color: #888888;font-size: 14px;}

li.map:before {
    content: "\f041";
    font-family: FontAwesome;
    padding-right: 13px;
    position: relative;
}
li.phone:before {
    content: "\f095 ";
    font-family: FontAwesome;
    padding-right: 12px;
    position: relative;
}
li.email:before {
    content: "\f0e0";
    font-family: FontAwesome;
    padding-right: 9px;
    position: relative;
}
ul.footer-address li {
    line-height: 26px;
}
ul.footer-link li {padding: 4px 10px 4px 0;border-bottom: 1px solid #333333;
    position: relative;
  
    cursor: pointer;}
ul.footer-link li:after {
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
}
ul.footer-link li:hover a,ul.footer-link li:hover{color: #fff !important;  transition: all 0.4s ease-in-out;}