<div class="container-fluid container-fixed-lg bg-white">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item active">Licenses</li>
  </ul>
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">Licenses</h3>
    </div>
  </div>
  <ng-container *ngIf="loadingPage">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </ng-container>
  <div class="table-responsive">
    <table class="row-border hover" datatable *ngIf="success">
      <thead class="thead-dark">
        <tr>
          <th>License</th>
          <th *ngIf="currentUserRole == 1">Customer</th>
          <th>Order</th>
          <th>Validity</th>
          <th>Expiry Date</th>
          <th>Status</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of list; let index = index">
          <td>
            <input
              type="text"
              class="form-control"
              readonly
              value="{{ l?.license }}"
            />
          </td>
          <td *ngIf="currentUserRole == 1">
            {{ l?.user?.firstname }} {{ l?.user?.lastname }}
          </td>
          <td>
            <a
              routerLink="/orders/{{ l?.order?.uuid }}"
              class="text-success"
              *ngIf="l?.order?.id"
            >
              Order #{{ l?.order?.id }}
            </a>
          </td>
          <td>{{ l?.recurring_duration }} month(s)</td>
          <td>{{ l?.expiry_date || "--" }}</td>
          <td style="width: 110px;">
            <a
              class="active btn btn-xs btn-block"
              [class.btn-success]="l?.status == 'connected'"
              [class.btn-primary]="l?.status == 'new'"
              [class.btn-danger]="l?.status == 'expired'"
              [class.btn-warning]="l?.status == 'suspended'"
              >{{ l?.status | titlecase }}</a
            >
          </td>
          <td>{{ l?.createdAt | date: "dd-MM-yyyy" }}</td>
          <td>
            <button
              type="button"
              (click)="delete(l?.id)"
              class="btn btn-danger btn-xs"
              [disabled]="l?.status != 'new' && l?.status != 'expired'"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<notifier-container></notifier-container>
