<div class="container-fluid container-fixed-lg bg-white">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/aeds">AED's</a></li>
    <li class="breadcrumb-item active">Create</li>
  </ul>
  <div class="row">
    <div class="col-md-8">
      <h3 class="page-title">Create New AED</h3>
    </div>
  </div>
  <form [formGroup]="form" (submit)="submit()">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header separator">
            <div class="card-title">AED Details</div>
          </div>
          <div class="card-body pt-2">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cabinet_code">Cabinet Code</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="cabinet_code"
                    [readonly]="flag > 0"
                  />
                  <div *ngIf="submitted && f?.cabinet_code?.errors">
                    <div *ngIf="f?.cabinet_code?.errors?.required">
                      <span style="color: red;">Cabinet Code is Required.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6" *ngIf="flag >= 1">
                <div class="form-group">
                  <label for="license_key">License Key</label>
                  <input
                    type="text"
                    class="form-control"
                    id="license_key"
                    formControlName="license_key"
                    [readonly]="flag > 1"
                  />
                  <div *ngIf="submitted && f?.license_key?.errors">
                    <div *ngIf="f?.license_key?.errors?.required">
                      <span style="color: red;">License Key is Required.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="flag <= 1">
      <div class="col-md-12">
        <div class="form-group">
          <button class="btn btn-success">
            Next <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <ng-container *ngIf="flag == 2">
      <div class="row">
        <div class="col-md-7">
          <div class="card">
            <div class="card-header separator">
              <div class="card-title">AED Details</div>
            </div>
            <div class="card-body pt-2">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Brand *</label>
                    <select
                      class="form-control"
                      id="brand"
                      formControlName="brand"
                      (change)="getmodel($event)"
                    >
                      <option value="">Select</option>
                      <option *ngFor="let b of brand" value="{{ b.brand }}">{{
                        b.brand
                      }}</option>
                    </select>
                    <div *ngIf="submitted && f?.brand?.errors">
                      <div *ngIf="f?.brand?.errors?.required">
                        <span style="color: red;">Brand is Required.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Model *</label>
                    <select
                      class="form-control"
                      id="model"
                      formControlName="model"
                    >
                      <option value="">Select</option>
                      <option *ngFor="let m of models" value="{{ m.model }}">{{
                        m.model
                      }}</option>
                    </select>
                    <div *ngIf="submitted && f?.model?.errors">
                      <div *ngIf="f?.model?.errors?.required">
                        <span style="color: red;">Model is Required.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="serialNumber">Serial Number *</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="serial"
                    />
                    <div *ngIf="submitted && f?.serial?.errors">
                      <div *ngIf="f?.serial?.errors?.required">
                        <span style="color: red;"
                          >Serial Number is Required.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="aedReg">AED Reg</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="reg"
                    />
                    <div *ngIf="submitted && f?.reg?.errors">
                      <div *ngIf="f?.reg?.errors?.required">
                        <span style="color: red;"
                          >Registration Number is Required.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="aedReg">date of purchase</label>
                    <div class="input-group">
                      <pg-datepicker
                        placeholder="dd-mm-yyyy"
                        formControlName="purchase_date"
                        [Format]="'DD-MM-YYYY'"
                      ></pg-datepicker>
                      <div class="input-group-append">
                        <button
                          class="btn btn-outline-secondary calendar"
                          type="button"
                        >
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                    <div *ngIf="submitted && f?.purchase_date?.errors">
                      <div *ngIf="f?.purchase_date?.errors?.required">
                        <span style="color: red;"
                          >Purchase Date is Required.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--second set-->
              <div class="form-row">
                <div class="col-md-12">
                  <h6>PADS</h6>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">1st set pads for *</label>
                    <select
                      class="form-control"
                      id="pads"
                      formControlName="first_pad"
                    >
                      <option value="adult">Adult</option>
                      <option value="child">Child</option>
                      <option value="both">Adult + Child</option>
                    </select>
                    <div *ngIf="submitted && f?.first_pad?.errors">
                      <div *ngIf="f?.first_pad?.errors?.required">
                        <span style="color: red;"
                          >First Set Pads Required.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">expiration date *</label>
                    <div class="input-group">
                      <pg-datepicker
                        placeholder="dd-mm-yyyy"
                        formControlName="first_pad_exp"
                        [Format]="'DD-MM-YYYY'"
                      ></pg-datepicker>
                      <div class="input-group-append">
                        <button
                          class="btn btn-outline-secondary calendar"
                          type="button"
                        >
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                    <div *ngIf="submitted && f?.first_pad_exp?.errors">
                      <div *ngIf="f?.first_pad_exp?.errors?.required">
                        <span style="color: red;"
                          >Expiry Date is Required.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">2nd set pads for</label>
                    <select
                      class="form-control"
                      id="second_pads"
                      formControlName="second_pad"
                    >
                      <option value="na">N/A</option>
                      <option value="adult">Adult</option>
                      <option value="child">Child</option>
                      <option value="both">Adult + Child</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">expiration date</label>
                    <div class="input-group">
                      <pg-datepicker
                        placeholder="dd-mm-yyyy"
                        formControlName="second_pad_exp"
                        [Format]="'DD-MM-YYYY'"
                      ></pg-datepicker>
                      <div class="input-group-append">
                        <button
                          class="btn btn-outline-secondary calendar"
                          type="button"
                        >
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--BATTERY-->
              <div class="form-row">
                <div class="col-md-12">
                  <h6>BATTERY</h6>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Expiration date</label>
                    <div class="input-group">
                      <pg-datepicker
                        placeholder="dd-mm-yyyy"
                        formControlName="battry_exp"
                        [Format]="'DD-MM-YYYY'"
                      ></pg-datepicker>

                      <div class="input-group-append">
                        <button
                          class="btn btn-outline-secondary calendar"
                          type="button"
                        >
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">serial number</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="battery_serial"
                    />
                  </div>
                </div>
              </div>

              <!--LOCATION SET-->
              <div class="form-row">
                <div class="col-md-12">
                  <h6>LOCALITY & AVAILABILITY</h6>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="streetName">street name *</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="street"
                    />
                    <div *ngIf="submitted && f?.street?.errors">
                      <div *ngIf="f?.street?.errors?.required">
                        <span style="color: red;">Street is Required.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="number">number</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="number"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="numberAddition">number addition</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="number_addition"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="zipCode">Zip Code*</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="zipcode"
                    />
                    <div *ngIf="submitted && f?.zipcode?.errors">
                      <div *ngIf="f?.zipcode?.errors?.required">
                        <span style="color: red;">Zip Code is Required.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="city">city*</label>
                    <select
                      class="form-control"
                      id="city"
                      formControlName="city"
                    >
                      <option *ngFor="let c of city" value="{{ c.name }}">{{
                        c.name
                      }}</option>
                    </select>
                    <div *ngIf="submitted && f?.city?.errors">
                      <div *ngIf="f?.city?.errors?.required">
                        <span style="color: red;">City is Required.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="country">Country</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="country"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lockCode">lock code</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="lock_code"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="locality">Locality</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="locality"
                      maxlength="25"
                    />
                  </div>
                </div>
                <div class="col-md-12 dadrec">
                  <div class="form-group">
                    <label for="pub-or-private">public or private</label>
                    <div class="r-btn-1">
                      <input
                        type="radio"
                        id="public"
                        checked
                        value="public"
                        formControlName="visibility"
                        (click)="showpublic()"
                      />
                      <label for="public">Public</label>
                    </div>

                    <div class="r-btn-2">
                      <input
                        type="radio"
                        id="private"
                        value="private"
                        formControlName="visibility"
                        (click)="hidepublic()"
                      />
                      <label for="private">Private</label>
                    </div>
                  </div>
                  <div
                    class="form-group days-check"
                    *ngIf="form?.value?.visibility == 'public'"
                  >
                    <div class="container">
                      <input
                        type="checkbox"
                        name="twentyfour"
                        (click)="twentyfourseven($event)"
                      />24/7
                    </div>
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          (click)="showmonday()"
                          formControlName="Monday"
                        />
                      </div>

                      <div class="weekday">Mon</div>
                      <div class="operationDayTimeContainer" *ngIf="showmon">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i
                          ></span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="mondtime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="monntime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          (click)="showtuesday()"
                          formControlName="Tuesday"
                        />
                      </div>

                      <div class="weekday">Tue</div>
                      <div class="operationDayTimeContainer" *ngIf="showtue">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i
                          ></span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="tuedtime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="tuentime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          (click)="showwednesday()"
                          formControlName="Wednesday"
                        />
                      </div>

                      <div class="weekday">Wed</div>
                      <div class="operationDayTimeContainer" *ngIf="showwed">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i
                          ></span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="weddtime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="wedntime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          (click)="showthursday()"
                          formControlName="Thursday"
                        />
                      </div>

                      <div class="weekday">Thu</div>
                      <div class="operationDayTimeContainer" *ngIf="showthu">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i
                          ></span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="thudtime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="thuntime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          (click)="showfriday()"
                          formControlName="Friday"
                        />
                      </div>

                      <div class="weekday">Fri</div>
                      <div class="operationDayTimeContainer" *ngIf="showfri">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="fridtime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="frintime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          (click)="showsaturday()"
                          formControlName="Saturday"
                        />
                      </div>

                      <div class="weekday">Sat</div>
                      <div class="operationDayTimeContainer" *ngIf="showsat">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="satdtime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="satntime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="dayContainer">
                      <div data-original-title="" class="colorBox RestDayState">
                        <input
                          type="checkbox"
                          class="selectchild"
                          (click)="showsunday()"
                          formControlName="Sunday"
                        />
                      </div>

                      <div class="weekday">Sun</div>
                      <div class="operationDayTimeContainer" *ngIf="showsun">
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-sun-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="sundtime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                        <div
                          class="operationTime input-group"
                          style="display: flex;"
                        >
                          <span class="input-group-addon"
                            ><i class="fa fa-moon-o"></i>
                          </span>
                          <select
                            class="mini-time form-control operationTimeFrom ui-timepicker-input"
                            formControlName="sunntime"
                          >
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                            <option value="23:59">23:59</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card">
            <div class="card-header separator">
              <div class="card-title">Responder Details</div>
            </div>
            <div class="card-body pt-2">
              <ng-container formArrayName="responders">
                <ng-container
                  *ngFor="
                    let item of responders.controls;
                    let pointIndex = index
                  "
                  [formGroupName]="pointIndex"
                >
                  <hr *ngIf="pointIndex > 0" />
                  <div class="form-group">
                    <label for="responder_name">Name*</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="name"
                    />
                    <div
                      *ngIf="
                        submitted &&
                        (f.responders?.controls)[pointIndex]?.controls?.name
                          ?.errors?.required
                      "
                    >
                      <label class="text-danger">Name is required</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="responder_email">E-Mail Address</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="email"
                    />
                    <div
                      *ngIf="
                        submitted &&
                        (f.responders?.controls)[pointIndex]?.controls?.email
                          ?.errors?.email
                      "
                    >
                      <label class="text-danger">E-Mail is invalid</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="responder_phone">Phone*</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="phone"
                    />
                    <div
                      *ngIf="
                        submitted &&
                        (f.responders?.controls)[pointIndex]?.controls?.phone
                          ?.errors?.required
                      "
                    >
                      <label class="text-danger">Phone is required</label>
                    </div>
                  </div>
                  <div class="form-group mt-2">
                    <label for="email_states"
                      ><b
                        ><i class="fa fa-bell-o mr-1"></i>Notifications</b
                      ></label
                    >
                    <table class="table-sm">
                      <thead>
                        <tr>
                          <th><label for="Phone">SMS</label></th>
                          <th><label for="Mail">Email</label></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <input
                              type="checkbox"
                              class="select-all-chkbox"
                              name="select-phone-all"
                              (click)="
                                selectAllSMSNotifications($event, pointIndex)
                              "
                            />
                          </td>
                          <td>
                            <input
                              type="checkbox"
                              class="select-all-chkbox"
                              name="select-mail-all"
                              (click)="
                                selectAllMailNotifications($event, pointIndex)
                              "
                            />
                          </td>
                          <td>
                            <b>Select All</b>
                          </td>
                        </tr>

                        <tr class="blank_row">
                          <td colspan="3"></td>
                        </tr>

                        <tr>
                          <td>
                            <input
                              type="checkbox"
                              class="set_sms"
                              (change)="
                                setSMSNotifications(
                                  $event,
                                  pointIndex,
                                  'sms_open_closed'
                                )
                              "
                              formControlName="sms_open_closed"
                            />
                          </td>
                          <td>
                            <input
                              type="checkbox"
                              class="set_email"
                              (change)="
                                setEmailNotifications(
                                  $event,
                                  pointIndex,
                                  'email_open_closed'
                                )
                              "
                              formControlName="email_open_closed"
                            />
                          </td>
                          <td>
                            Open or Closed
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input
                              type="checkbox"
                              class="set_sms"
                              (change)="
                                setSMSNotifications(
                                  $event,
                                  pointIndex,
                                  'sms_aed_present'
                                )
                              "
                              formControlName="sms_aed_present"
                            />
                          </td>
                          <td>
                            <input
                              type="checkbox"
                              class="set_email"
                              (change)="
                                setEmailNotifications(
                                  $event,
                                  pointIndex,
                                  'email_aed_present'
                                )
                              "
                              formControlName="email_aed_present"
                            />
                          </td>
                          <td>
                            AED Present
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input
                              type="checkbox"
                              class="set_sms"
                              (change)="
                                setSMSNotifications(
                                  $event,
                                  pointIndex,
                                  'sms_aed_status'
                                )
                              "
                              formControlName="sms_aed_status"
                            />
                          </td>
                          <td>
                            <input
                              type="checkbox"
                              class="set_email"
                              (change)="
                                setEmailNotifications(
                                  $event,
                                  pointIndex,
                                  'email_aed_status'
                                )
                              "
                              formControlName="email_aed_status"
                            />
                          </td>
                          <td>
                            AED Status
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input
                              type="checkbox"
                              class="set_sms"
                              (change)="
                                setSMSNotifications(
                                  $event,
                                  pointIndex,
                                  'sms_power'
                                )
                              "
                              formControlName="sms_power"
                            />
                          </td>
                          <td>
                            <input
                              type="checkbox"
                              class="set_email"
                              (change)="
                                setEmailNotifications(
                                  $event,
                                  pointIndex,
                                  'email_power'
                                )
                              "
                              formControlName="email_power"
                            />
                          </td>
                          <td>
                            Power
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input
                              type="checkbox"
                              class="set_sms"
                              (change)="
                                setSMSNotifications(
                                  $event,
                                  pointIndex,
                                  'sms_connection'
                                )
                              "
                              formControlName="sms_connection"
                            />
                          </td>
                          <td>
                            <input
                              type="checkbox"
                              class="set_email"
                              (change)="
                                setEmailNotifications(
                                  $event,
                                  pointIndex,
                                  'email_connection'
                                )
                              "
                              formControlName="email_connection"
                            />
                          </td>
                          <td>
                            Connection
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input
                              type="checkbox"
                              class="set_sms"
                              (change)="
                                setSMSNotifications(
                                  $event,
                                  pointIndex,
                                  'sms_maintenance'
                                )
                              "
                              formControlName="sms_maintenance"
                            />
                          </td>
                          <td>
                            <input
                              type="checkbox"
                              class="set_email"
                              (change)="
                                setEmailNotifications(
                                  $event,
                                  pointIndex,
                                  'email_maintenance'
                                )
                              "
                              formControlName="email_maintenance"
                            />
                          </td>
                          <td>
                            Maintenance
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-container>
              </ng-container>
              <hr />
              <div class="form-group">
                <button
                  class="btn btn-primary btn-sm mr-2"
                  type="button"
                  (click)="addResponders()"
                >
                  <i class="fa fa-plus-circle mr-2"></i> Add One More
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  type="button"
                  (click)="deleteResponders(pointIndex)"
                  *ngIf="f.responders?.controls?.length > 1"
                >
                  <i class="fa fa-trash-o mr-2"></i> Remove
                </button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body pt-2">
              <div class="form-row mt-3">
                <div class="col-md-12 text-center">
                  <button class="btn btn-success" [disabled]="loading">
                    <i
                      class="fa mr-2"
                      [ngClass]="loading ? 'fa-spinner fa-spin' : 'fa-save'"
                    ></i>
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>

<notifier-container></notifier-container>
