<div
  class="container-fluid"
  style="background: url(assets/images/login-bg.jpg);"
>
  <div class="row p-l-50 p-r-50 p-t-50">
    <div class="col-md-12 bg-white p-3 mb-5">
      <div class="row">
        <div class="col-md-12 log-wrap text-center">
          <img
            alt="logo"
            height="70"
            pgretina=""
            src="assets/images/logo.png"
            src1x="assets/images/logo.png"
            src2x="assets/images/logo.png"
            width="210"
          />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12" *ngIf="!success">
          <h1 class="text-center display-5">
            <i class="fa fa-spinner fa-spin mr-2"></i> Please wait..
          </h1>
        </div>
        <div class="col-md-12" *ngIf="success">
          <div class="successmsg text-center">
            <h2 class="text-success">Success!</h2>
            <i class="fa fa-check-circle fa-2x text-success"></i>
            <p>
              Thank you for registering your AED (Automatic External
              Defibrillator).
            </p>
            <p>Regards AedPlatform Team.</p>
            <p>Please login to start using our system.</p>
            <a href="{{ siteURL }}/auth/login" class="btn btn-success"
              ><i class="fa fa-lock fa-lg mr-2"></i> Login</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
