<div class="container-fluid container-fixed-lg bg-white pb-3">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/shop">Shop</a></li>
    <li class="breadcrumb-item active">Checkout</li>
  </ul>
  <form [formGroup]="form" (submit)="submit()">
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-title">Checkout</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngIf="loading">
        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
      </div>

      <div class="col-md-8" *ngIf="!loading">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">First Name*</label>
              <input
                type="text"
                class="form-control"
                formControlName="billing_firstname"
              />
            </div>
            <div *ngIf="submitted && f?.billing_firstname?.errors">
              <div *ngIf="f?.billing_firstname?.errors?.required">
                <p style="color: red;">First Name is Required</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Last Name*</label>
              <input
                type="text"
                class="form-control"
                formControlName="billing_lastname"
              />
            </div>
            <div *ngIf="submitted && f?.billing_lastname?.errors">
              <div *ngIf="f?.billing_lastname?.errors?.required">
                <p style="color: red;">Last Name is Required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Email*</label>
              <input
                class="form-control"
                formControlName="billing_email"
                type="email"
              />
            </div>
            <div *ngIf="submitted && f?.billing_email?.errors">
              <div *ngIf="f?.billing_email?.errors?.required">
                <p style="color: red;">Email is Required</p>
              </div>
              <div *ngIf="f?.billing_email?.errors?.email">
                <p style="color: red;">Email is Invalid</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="phoneNumber">Phone*</label>
              <input
                class="form-control"
                formControlName="billing_phone"
                type="text"
              />
            </div>
            <div *ngIf="submitted && f?.billing_phone?.errors">
              <div *ngIf="f?.billing_phone?.errors?.required">
                <p style="color: red;">Phone is Required</p>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <h6>ADDRESS</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Organization</label>
              <input
                type="text"
                class="form-control"
                formControlName="billing_organization"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Street*</label>
              <input
                type="text"
                class="form-control"
                formControlName="billing_street"
              />
            </div>
            <div *ngIf="submitted && f?.billing_street?.errors">
              <div *ngIf="f?.billing_street?.errors?.required">
                <p style="color: red;">Street is Required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Home Number</label>
              <input
                type="text"
                class="form-control"
                formControlName="billing_home_num"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Number Addition</label>
              <input
                type="text"
                class="form-control"
                formControlName="billing_addition_num"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">zipCode*</label>
              <input
                type="text"
                class="form-control"
                formControlName="billing_zip"
              />
            </div>
            <div *ngIf="submitted && f?.billing_zip?.errors">
              <div *ngIf="f?.billing_zip?.errors?.required">
                <p style="color: red;">Zip is Required</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">City*</label>
              <select formControlName="billing_city" class="form-control">
                <option value="">Select City</option>
                <option value="{{ city?.name }}" *ngFor="let city of cities">{{
                  city?.name
                }}</option>
              </select>
            </div>
            <div *ngIf="submitted && f?.billing_city?.errors">
              <div *ngIf="f?.billing_city?.errors?.required">
                <p style="color: red;">City is Required</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Country</label>
              <input
                type="text"
                class="form-control"
                value="Netherlands"
                readonly
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4" *ngIf="!loading">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ product?.name }}</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                € {{ product?.sale_price || product?.regular_price }}
                <!-- <small class="text-muted">/ mo</small> -->
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{ product?.no_license }} license(s) included</li>
                <li>{{ product?.recurring_duration }} month(s) package</li>
              </ul>
              <div class="form-group">
                <label for="quantity" class="control-label">Quantity</label>
                <select
                  class="form-control text-center"
                  formControlName="no_license"
                  (change)="updateTotal($event)"
                >
                  <option value="{{ item }}" *ngFor="let item of licenses"
                    >{{ item }} License</option
                  >
                </select>
              </div>
              <h3 class="mt-3">
                Grand Total: <span class="text-success">€ {{ total }}</span>
              </h3>
              <button
                class="mt-3 btn btn-success btn-block"
                [disabled]="formLoading"
              >
                <i
                  class="fa fa-circle-o-notch fa-spin mr-2"
                  *ngIf="formLoading"
                ></i>
                Proceed to Pay
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
