<div class="container-fluid container-fixed-lg bg-white">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item active">Orders</li>
  </ul>
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-title">Orders</h3>
    </div>
  </div>
  <ng-container *ngIf="loadingPage">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </ng-container>
  <div class="table-responsive">
    <table class="row-border hover" datatable *ngIf="success">
      <thead class="thead-dark">
        <tr>
          <th>No</th>
          <th *ngIf="currentUserRole == 1">Customer</th>
          <th>Package</th>
          <th>No of Licenses</th>
          <th>Total</th>
          <th>Status</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of list; let index = index">
          <td>
            <a routerLink="/orders/{{ l.uuid }}" class="text-success"
              >#{{ l?.id }}</a
            >
          </td>
          <td *ngIf="currentUserRole == 1">
            {{ l?.user?.firstname }} {{ l?.user?.lastname }}
          </td>
          <td>
            <a
              routerLink="/products/{{ l?.product?.uuid }}/edit"
              class="text-success"
              *ngIf="currentUserRole == 1; else plainName"
            >
              {{ l?.product?.name }}
              <ng-container *ngIf="l?.product?.is_recurring">
                {{ l?.product?.recurring_duration }} month(s)
              </ng-container>
            </a>
            <ng-template #plainName>
              {{ l?.product?.name }}
              <ng-container *ngIf="l?.product?.is_recurring">
                {{ l?.product?.recurring_duration }} month(s)
              </ng-container>
            </ng-template>
          </td>
          <td>{{ l?.no_license }}</td>
          <td>€ {{ l?.total }}</td>
          <td style="width: 110px;">
            <a
              class="active btn btn-xs btn-block"
              [class.btn-success]="l?.status == 'paid'"
              [class.btn-primary]="
                l?.status != 'paid' && l?.status != 'canceled'
              "
              [class.btn-danger]="l?.status == 'canceled'"
              >{{ l?.status | titlecase }}</a
            >
          </td>
          <td>{{ l?.createdAt | date: "dd-MM-yyyy" }}</td>
          <td>
            <a routerLink="{{ l?.uuid }}" class="btn btn-primary btn-xs mr-1"
              ><i class="fa fa-edit" aria-hidden="true"></i
            ></a>
            <a
              (click)="delete(l?.uuid)"
              href="javascript:void(0);"
              class="btn btn-danger btn-xs"
              ><i class="fa fa-eye" aria-hidden="true"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<notifier-container></notifier-container>
