<!-- WRAP LAYOUT IF BOXED -->
<div class="container" *ngIf="_boxed; else basicLayoutBlock">
  <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</div>
<ng-template #basicLayoutBlock>
  <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</ng-template>

<!-- YOUR LAYOUT CONTENT GOES INSIDE HERE -->
<ng-template #contentTpl>
  <pg-sidebar>
    <ng-template #sideBarHeader>
      <img
        src="assets/images/logo.png"
        alt="logo"
        class="brand"
        pgRetina
        src1x="assets/images/logo.png"
        src2x="assets/images/logo.png"
        width="150"
        height="50"
      />
      <!-- <div class="sidebar-header-controls">
        <button
          type="button"
          class="btn btn-link d-lg-inline-block d-xlg-inline-block d-md-inline-block d-sm-none d-none"
          data-toggle-pin="sidebar"
          (click)="toggleMenuPin()"
        >
          <i class="fa fs-12"></i>
        </button>
      </div> -->
    </ng-template>
    <ng-template #menuItems>
      <pg-menu-items [Items]="menuLinks"></pg-menu-items>
    </ng-template>
  </pg-sidebar>

  <page-container>
    <pg-header [boxed]="_boxed">
      <!-- START MOBILE SIDEBAR TOGGLE -->
      <a
        href="javascript:void(0);"
        class="btn-link toggle-sidebar d-lg-none pg pg-menu"
        (click)="toggleMobileSidebar()"
      ></a>
      <!-- END MOBILE SIDEBAR TOGGLE -->
      <div class="">
        <div class="brand inline" [class.d-none]="_layoutOption === 'email'">
          <img
            src="assets/images/logo.png"
            alt="logo"
            pgRetina
            src1x="assets/images/logo.png"
            src2x="assets/images/logo.png"
            width="150"
            height="50"
          />
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="pull-left p-r-30 d-lg-block">
          <a routerLink="/shop" class="btn btn-success btn-xs"
            ><i class="fa fa-shopping-cart fa-lg mr-2"></i> Buy License</a
          >
        </div>
        <!-- START User Info-->
        <div class="pull-left p-r-10 fs-14 font-heading d-lg-block d-none">
          <span class="semi-bold">{{ userName }}</span>
        </div>
        <div class="dropdown pull-right d-lg-block d-none" dropdown>
          <button
            class="profile-dropdown-toggle"
            type="button"
            dropdownToggle
            id="profileDropdown"
          >
            <span class="thumbnail-wrapper d32 circular inline">
              <img
                src="assets/images/default-avatar.png"
                alt=""
                pgRetina
                src1x="assets/img/profiles/avatar.jpg"
                src2x="assets/img/profiles/avatar_small2x.jpg"
                width="32"
                height="32"
              />
            </span>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right profile-dropdown"
            *dropdownMenu
            role="menu"
          >
            <a
              href="javascript:void(0)"
              class="dropdown-item"
              (click)="openEditUserModal()"
              ><i class="fs-13 pg pg-settings_small"></i> Settings</a
            >

            <a
              href="javascript:void(0)"
              class="clearfix bg-master-lighter dropdown-item"
              (click)="logout()"
            >
              <span class="pull-left">Logout</span>
              <span class="pull-right"><i class="fs-13 pg pg-power"></i></span>
            </a>
          </div>
        </div>
        <!-- END User Info-->
      </div>
    </pg-header>
    <div class="page-content-wrapper {{ _pageContainerClass }}">
      <!-- START PAGE CONTENT -->
      <div class="content {{ _contentClass }}">
        <router-outlet></router-outlet>
      </div>
      <!-- END PAGE CONTENT -->
      <ng-template [ngIf]="_footer">
        <!-- START COPYRIGHT -->
        <div class="container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text mr-2">Copyright &copy; 2020</span>
              <span class="hint-text">All rights reserved.</span>
            </p>

            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </ng-template>
    </div>
  </page-container>
</ng-template>

<notifier-container></notifier-container>
