<div class="container-fluid container-fixed-lg bg-white">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item active">Users</li>
  </ul>
  <div class="row">
    <div class="col-md-8">
      <h3 class="page-title">Users</h3>
    </div>
  </div>
  <ng-container *ngIf="loadingPage">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </ng-container>
  <div class="table-responsive">
    <table
      class="row-border hover"
      datatable
      [dtOptions]="dtOptions"
      *ngIf="!loadingPage"
    >
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>E-Mail</th>
          <th>Gender</th>
          <th>Phone</th>
          <th>Status</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of list; let index = index">
          <td>{{ user?.firstname }} {{ user?.lastname }}</td>
          <td style="width: 155px;">{{ user?.email }}</td>
          <td>{{ user?.gender | titlecase }}</td>
          <td>{{ user?.phone }}</td>
          <td style="width: 110px;">
            <span
              class="active btn btn-success"
              *ngIf="user?.status == 1; else inactive"
              (click)="updateStatus(user?.id)"
              >Active</span
            >
            <ng-template #inactive>
              <span
                class="dactive btn btn-danger"
                (click)="updateStatus(user?.id)"
                >In-Active</span
              >
            </ng-template>
          </td>
          <td>{{ user?.createdAt | date: "dd-MM-yyyy" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<notifier-container></notifier-container>
