<div class="container-fluid container-fixed-lg bg-white">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/orders">Orders</a></li>
    <li class="breadcrumb-item active">Success - Order #{{ order?.id }}</li>
  </ul>
  <div class="row mt-3 mb-3">
    <div class="col-md-12">
      <h3 class="page-title text-center">
        THANK YOU. YOUR ORDER HAS BEEN RECEIVED.
      </h3>
    </div>
  </div>
  <ng-container *ngIf="loadingPage; else pageWrap">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </ng-container>
  <ng-template #pageWrap>
    <div class="row">
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table text-center">
            <thead class="thead-dark">
              <tr>
                <th>Order Number</th>
                <th>Date</th>
                <th>License(s) Bought</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <b>{{ order?.id }}</b>
                </td>
                <td>
                  <b>{{ order?.createdAt | date }}</b>
                </td>
                <td>
                  <b>{{ order?.no_license }}</b>
                </td>
                <td>
                  <b>€ {{ order?.total }}</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h3>Order Details</h3>
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th>Item</th>
                    <th>No of License</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ order?.product?.name }}</td>
                    <td>{{ order?.no_license }}</td>
                    <td>€ {{ order?.total }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="row mt-3">
              <div class="col-md-6">
                <strong>General</strong>
                <p class="mt-2">
                  <b>Date: </b> {{ order?.createdAt | date: "dd-MM-yyyy" }}
                  <br />
                  <b>Customer: </b> {{ order?.user?.firstname }}
                  {{ order?.user?.lastname }} <br />
                </p>
                <strong>Email Address</strong>
                <p class="mt-2">
                  {{ order?.billing_email }}
                </p>
                <strong>Phone</strong>
                <p class="mt-2">
                  {{ order?.billing_phone }}
                </p>
              </div>
              <div class="col-md-6">
                <strong>Billing Details</strong>
                <p class="mt-2">
                  {{ order?.billing_firstname }} {{ order?.billing_lastname }}
                  <br />
                  <ng-container *ngIf="order?.billing_organization">
                    {{ order?.billing_organization }} <br />
                  </ng-container>
                  {{ order?.billing_street }} <br />
                  <ng-container *ngIf="order?.billing_home_num">
                    {{ order?.billing_home_num }} <br />
                  </ng-container>
                  <ng-container *ngIf="order?.billing_addition_num">
                    {{ order?.billing_addition_num }} <br />
                  </ng-container>
                  {{ order?.billing_zip }} <br />
                  {{ order?.billing_city }} <br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="card-title">License(s)</div>
          </div>
          <div class="card-body">
            <div class="form-group" *ngFor="let license of order?.licenses">
              <input
                type="text"
                class="form-control"
                readonly
                [value]="license?.license"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
