<div class="container-fluid container-fixed-lg bg-white">
  <ul class="breadcrumb p-l-0">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item active">AED's</li>
  </ul>
  <div class="row">
    <div class="col-md-8">
      <h3 class="page-title">AED's</h3>
    </div>
    <div class="col-md-4 text-right">
      <a routerLink="/aeds/create" class="btn btn-success"
        ><i class="fa fa-plus-circle fa-lg mr-2"></i> Add AED</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 add_lst_tab">
      <a (click)="open_Filters()" href="javascript:void(0);">Filters</a>
    </div>
    <div class="col-md-12" [hidden]="!openFilters">
      <form (submit)="filter()" [formGroup]="filterForm">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="city" class="control-label">City</label>
              <select2
                formControlName="city"
                id="city"
                [data]="_cities"
                [cssImport]="true"
                [options]="select2_options"
                (valueChanged)="filter_changed($event, 'city')"
              ></select2>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="zip" class="control-label">Zip</label>
              <select2
                formControlName="zip"
                id="zip"
                [data]="zipcodes"
                [cssImport]="true"
                [options]="select2_options"
                (valueChanged)="filter_changed($event, 'zip')"
              ></select2>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="serial" class="control-label">Serial</label>
              <select2
                formControlName="serial"
                id="serial"
                [data]="serials"
                [cssImport]="true"
                [options]="select2_options"
                (valueChanged)="filter_changed($event, 'serial')"
              ></select2>
            </div>
          </div>
          <div class="col-md-3 mt-2">
            <br />
            <button class="btn btn-primary btn-block">Filter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <ng-container *ngIf="loadingPage">
    <i class="fa fa-spinner fa-spin fa-2x"></i>
  </ng-container>
  <div class="table-responsive">
    <table
      class="row-border hover"
      datatable
      [dtOptions]="dtOptions"
      *ngIf="success"
    >
      <thead class="thead-dark">
        <tr>
          <th>Cabinet Code</th>
          <th>City</th>
          <th>Zip Code</th>
          <th>Street</th>
          <th>House#</th>
          <th>Statuses</th>
          <th>Serial</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of list; let index = index">
          <td style="width: 150px;">
            <a routerLink="/aeds/details/{{ l.uuid }}" class="text-success">{{
              l?.cabinet_code
            }}</a>
          </td>
          <td>{{ l?.city }}</td>
          <td style="width: 155px;">{{ l?.zipcode }}</td>
          <td>{{ l?.street }}</td>
          <td>{{ l?.number }}</td>
          <td style="width: 110px;">
            <span
              class="active btn btn-success btn-xs"
              *ngIf="l?.status == 'active'; else others"
              ><i class="fa fa-check-circle-o mr-1"></i>Active</span
            >
            <ng-template #others>
              <span
                class="warning btn btn-warning btn-xs"
                *ngIf="l?.status == 'suspended'; else expired"
                ><i class="fa fa-exclamation-circle mr-1"></i>Suspend</span
              >
            </ng-template>
            <ng-template #expired>
              <span class="dactive btn btn-danger btn-xs"
                ><i class="fa fa-times-circle-o mr-1"></i> Expired</span
              >
            </ng-template>
          </td>
          <td>{{ l?.serial }}</td>
          <td>{{ l.createdAt | date: "dd-MM-yyyy" }}</td>
          <td>
            <a
              routerLink="details/{{ l?.uuid }}"
              class="btn btn-success btn-xs mr-1"
            >
              <i class="fa fa-eye"></i>
            </a>
            <a
              routerLink="edit/{{ l?.uuid }}"
              class="btn btn-primary btn-xs mr-1"
            >
              <i class="fa fa-edit"></i>
            </a>
            <a
              (click)="delete(l?.uuid)"
              href="javascript:void(0);"
              class="btn btn-danger btn-xs"
              ><i class="fa fa-trash" aria-hidden="true"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<notifier-container></notifier-container>
