.col-md-12.add_lst_tab a {
  background: #ccc6;
  display: inherit;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 0px 0px 20px 0px;
  padding: 0px 15px;
}
.col-md-12.add_lst_tab a:after {
  content: "\f067";
  width: 20px;
  font-family: "FontAwesome";
  height: 20px;
  position: absolute;
  right: 20px;
  font-weight: 600;
  font-size: 10px;
}
